src/main/mule/practice/rest-client.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:race-data-system-api="http://www.mulesoft.org/schema/mule/race-data-system-api"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/race-data-system-api http://www.mulesoft.org/schema/mule/race-data-system-api/current/mule-race-data-system-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="practice_restclient_getRace" doc:id="b4bdedd5-04b2-4b29-b039-583d08b99fbb" >
		<set-variable doc:name="token" doc:id="nuulxb" variableName="token" value="#[payload]" />
		<set-variable doc:name="raceType" doc:id="vfvuox" variableName="raceType" value="practice_restclient" />
		<set-variable doc:name="raceId" doc:id="rhytgr" variableName="raceId" value="#[vars.timeTrialId]" />
		<try doc:name="Try" doc:id="97b11221-6549-4db4-81cb-332714d4ccff">
			<flow-ref name="restclient_getRaceAndCheckToken" doc:name="getRaceAndCheckToken"/>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="2b321ad2-21ff-4206-8c61-1e10c2c9aa85" type="APP:BAD_TOKEN" when="isEmpty(payload.lap)">
					<logger level="DEBUG" doc:name="DEBUG" doc:id="716af302-20ad-4219-a4a7-2d80e3a67539" message="First lap does not require token" category="race-api.practice.restclient.getRace" />
				</on-error-continue>
				<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="674d6167-492a-4cf2-a5e6-eeea6f501a8e" />
			</error-handler>
		</try>
		<set-variable value="#[payload]" doc:name="race" doc:id="b4e417a4-02a2-45f3-ae82-71c578c0130c" variableName="race"/>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="87255160-a92b-4350-b4d9-6e5233e1e4f8" message="Found race #[vars.race]" category="race-api.practice.restclient.getRace" />
	</sub-flow>
	<flow name="practice_restclient_startTimeTrial" doc:id="2bc007b3-8021-4806-a560-2c1e2140f551" >
		<ee:transform doc:name="race" doc:id="efc1b65a-1d6a-4001-84e5-9f4713e28f07" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	raceId: uuid(),
	racerId: vars.racerId,
	start: now() as String	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="60c55a64-7018-4482-b390-b8662de403df" message="Setting race data: #[payload]" category="race-api.practice.restclient.start"/>
		<race-data-system-api:set-race doc:name="raceId" doc:id="6fca0210-1cc7-4fc6-91f8-255fda71a740"
			config-ref="raceDataSystemApiConfig"
			race-type="practice_restclient"
			id="#[payload.raceId]"
			expiry="${practice.expiry}" target="setRaceResult"/>
		<ee:transform doc:name="response" doc:id="83a27d43-8aad-4c1b-b1e5-24950bb309be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	timeTrialId: payload.raceId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="dcf4e178-7ccf-4b01-b6d3-9ffb0689f146" type="RACE-DATA-SYSTEM-API:BAD_REQUEST">
				<logger level="DEBUG" doc:name="DEBUG" doc:id="9fb3d7f3-eb08-44aa-8f35-15763ca20dd0" message="#[error.errorMessage.payload]" category="race-api.practice.restclient.start" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="practice_restclient_lap" doc:id="5b8f69a0-00ab-4c14-9f51-e269f724b33e">
		<flow-ref doc:name="practice_restclient_getRace" doc:id="a6b3085c-74ca-4766-b928-45b6952c067e" name="practice_restclient_getRace" />
		<ee:transform doc:name="update lap" doc:id="thvisp">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
var lap = vars.race.lap default {
	count: 0,
	finish: vars.race.start
}
---
vars.race mergeWith {
	lap: {
		count: lap.count + 1,
		start: lap.finish, // this lap started when the last one finished
		finish: now() as String // this lap is completed now
	},
	token: uuid() // new token
}
				]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<race-data-system-api:set-race doc:name="practice_restclient/{raceId}" doc:id="dxtume"
			target="setRaceResult"
			config-ref="raceDataSystemApiConfig"
			race-type="practice_restclient"
			id="#[vars.raceId]" />
		<ee:transform doc:name="lap response" doc:id="ca7d16ba-3345-4e7f-9cec-8a29fb2b7857" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	token: payload.token,
	lap: {
		duration: (payload.lap.finish - payload.lap.start) 
			as Number {unit: "milliseconds"} / 1000
	},
	trial: {
		laps: payload.lap.count,
		duration: (payload.lap.finish - payload.start) 
			as Number {unit: "milliseconds"} / 1000
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="7659c0bd-bfb3-4fa7-b033-dde55105cca8" type="RACE-DATA-SYSTEM-API:BAD_REQUEST">
				<logger level="DEBUG" doc:name="DEBUG" doc:id="0e4d358e-b3f2-4998-a846-975d5a5b8c35" message="#[error.errorMessage.payload]" category="race-api.practice.restclient.lap"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="b9106f0e-f103-4e94-afe0-426b1cc1679a" type="APP:BAD_TOKEN, APP:NO_SUCH_RACE, APP:RACE_FINISHED"/>
		</error-handler>
	
	</flow>
	<flow name="practice_restclient_finish" doc:id="0175e145-d233-4593-9da7-bb8272ddbf79">
		<flow-ref doc:name="practice_restclient_getRace" doc:id="26b5bac2-3851-4e23-b2c9-08c3897524e5" name="practice_restclient_getRace"/>
		<ee:transform doc:name="update race" doc:id="cfcb4f20-cac0-4b1d-bace-1ecdf21e3698" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json

---
vars.race mergeWith {
	lap: {
		count: vars.race.lap.count + 1,
		start: vars.race.lap.finish, // this lap started when the last one finished
		finish: now() as String // this lap is completed now
	},
	finish: now() as String, // this race is finished!
	token: uuid() // reset to unknown value
}
	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<race-data-system-api:set-race doc:name="practice_restclient/{raceId}" doc:id="8d6b3cfd-ced1-4d09-b772-e315fd0b6498" config-ref="raceDataSystemApiConfig" race-type="#[vars.raceType]" id="#[vars.raceId]" target="setRaceResult"/>
		<ee:transform doc:name="response" doc:id="7edacac7-1411-42c3-935a-deff921aaac1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	trial: {
		laps: payload.lap.count,
		duration: (payload.finish - payload.start) 
			as Number {unit: "milliseconds"} / 1000
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f3de8ef2-bb17-40b7-8ae8-19a217632b76" type="RACE-DATA-SYSTEM-API:BAD_REQUEST">
				<logger level="DEBUG" doc:name="DEBUG" doc:id="0f5598ec-c891-4be8-a1bd-bf23ea7a8a47" message="#[error.errorMessage.payload]" category="race-api.practice.restclient.finish"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="66ad9d05-6f8b-4f31-b264-83ae2498510e" type="APP:BAD_TOKEN, APP:NO_SUCH_RACE, APP:RACE_FINISHED"/>
		</error-handler>
	</flow>
</mule>
