src/main/mule/anypoint-race-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <http:listener-config name="anypoint-race-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="anypoint-race-api-config" api="resource::ae6d7954-6fc2-4f3e-8777-80ff8aabd859:anypoint-race-api:3.0.0:raml:zip:anypoint-race-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="anypoint-race-api-main">
        <http:listener config-ref="anypoint-race-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="anypoint-race-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="anypoint-race-api-console">
        <http:listener config-ref="anypoint-race-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="anypoint-race-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\register:application\json:anypoint-race-api-config">
        <flow-ref doc:name="registerRacer" doc:id="af973961-b5d4-4d58-9584-62b4df5e3e27" name="registerRacer" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="5c2bb858-3c43-4d2c-a227-d18cc4bc1942" type="APP:CLIENT_ID_MISSING">
                <set-variable value="401" doc:name="httpStatus = 401" doc:id="e125a6f8-e275-40d7-a094-26b896076540" variableName="httpStatus" />
                <set-payload value="#[output application/json --- { message: &quot;Invalid Client&quot; }]" doc:name="Invalid Client" doc:id="a6485088-3a18-4cb8-a3c3-7befbe856fde" />
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="post:\racers\(racerId)\practice\rest-client\time-trials:anypoint-race-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="racerId">attributes.uriParams.'racerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\racers\(racerId)\practice\rest-client\time-trials:anypoint-race-api-config" />
    </flow>
	<flow name="post:\racers\(racerId)\practice\rest-client\time-trials\(timeTrialId)\laps:text\plain:anypoint-race-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="racerId">attributes.uriParams.'racerId'</ee:set-variable>
                <ee:set-variable variableName="timeTrialId">attributes.uriParams.'timeTrialId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  token: "f0f4730c-29d1-40ed-91b5-1370bb51e58b",
  lap: {
    count: 42,
    duration: 1.111
  },
  trial: {
    laps: 42,
    duration: 42.999
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="put:\racers\(racerId)\practice\rest-client\time-trials\(timeTrialId)\finish-line:text\plain:anypoint-race-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="racerId">attributes.uriParams.'racerId'</ee:set-variable>
                <ee:set-variable variableName="timeTrialId">attributes.uriParams.'timeTrialId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  trial: {
    laps: 42,
    duration: 48.888
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="post:\racers\(racerId)\practice\seasons\2\start:application\json:anypoint-race-api-config">
        <flow-ref doc:name="startSeason2Race" doc:id="e756d0ac-78ad-4cd9-8b5f-c9921064f627" name="startSeason2Race" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="4edb87c3-9b1f-485e-b772-c5c0db94e2e0" type="APP:CALLBACK_UNEXPECTED_MEDIA_TYPE">
                <set-variable value="415" doc:name="httpStatus = 415" doc:id="f46192ac-2f7a-49aa-8d61-380268bb52f5" variableName="httpStatus" />
                <set-payload value="#[error.description]" doc:name="error.description" doc:id="95ba191a-e3de-4f50-9e32-59d0ca5f4622" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="a17dc4b0-e83d-4919-b52c-4e4c7fb7d5a8" type="APP:INVALID_RACER_ID">
                <set-variable value="500" doc:name="httpStatus = 500" doc:id="ebaaaf9d-4d34-4481-89f0-3ed7890e010f" variableName="httpStatus" />
                <set-payload value="#[error.description]" doc:name="Set Payload" doc:id="80985162-a82b-4a98-a491-4113e5fb3905" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="14dd86f3-b9ad-4e9b-b439-a3cb620a694a" type="APP:INVALID_URL">
                <set-variable value="500" doc:name="httpStatus = 500" doc:id="c3b164ed-1608-4bc1-ad39-191d0d1c4e4f" variableName="httpStatus" />
                <set-payload value="#[&quot;Invalid racerURL&quot;]" doc:name="Set Payload" doc:id="b3ec6991-93d6-4358-991a-0bd6822874ae" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\racers\(racerId)\practice\seasons\2\races\(raceId)\lap:application\json:anypoint-race-api-config">
        <flow-ref doc:name="finishSeason2Lap" doc:id="c92d9374-c7dc-4f3f-b1e0-c87a3d4176d8" name="finishSeason2Lap" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="9841f286-4e02-4761-8a75-bbafdddfe060" type="APP:INVALID_RACE_TOKEN">
                <set-variable value="400" doc:name="httpStatus = 400" doc:id="e168f96f-0382-4253-85ce-ff7d98d18c4b" variableName="httpStatus" />
                <set-payload value="invalid race token" doc:name="invalid race token" doc:id="4c367df0-c8b5-4590-b645-9f529b6b9f79" />
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="post:\racers\(racerId)\practice\seasons\2\races\(raceId)\finish:text\plain:anypoint-race-api-config">
        <flow-ref doc:name="finishSeason2Race" doc:id="1a10b516-7962-4752-9338-a3155e20fc7f" name="finishSeason2Race" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="b6a4ad9b-dfdc-40bc-8812-71c14b1a67f0" type="APP:INVALID_RACE_TOKEN">
                <set-variable value="400" doc:name="httpStatus = 400" doc:id="2fda5507-d927-4381-b7dd-46e42feafe3f" variableName="httpStatus" />
                <set-payload value="invalid race token" doc:name="invalid race token" doc:id="4fa0c764-f788-4588-8a47-996b8f92937e" />
            </on-error-continue>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="d5733da9-da92-4df1-919a-3ffd5c5fedc6" type="APP:INVALID_RACE">
                <set-variable value="404" doc:name="httpStatus = 404" doc:id="8edfd840-a3f8-4ed6-97f8-8ef1ff6f7ea9" variableName="httpStatus" />
                <set-payload value="race not found" doc:name="race not found" doc:id="9badec58-2aec-4fc6-9c9b-5c6209ec50f1" />
            </on-error-continue>
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="146ebc82-f15b-4ecb-a028-371eab24429c" type="APP:RACECOMPLETED">
                <set-variable value="409" doc:name="httpStatus = 409" doc:id="a6352ec9-0feb-4b7a-a127-2168ac0f5975" variableName="httpStatus" />
                <set-payload value="Race already completed" doc:name="race already completed" doc:id="a1289db6-39a7-4367-8840-779f939e031d" />
            </on-error-continue>
        </error-handler>
    </flow>
</mule>
