src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:race-data-system-api="http://www.mulesoft.org/schema/mule/race-data-system-api" xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd http://www.mulesoft.org/schema/mule/race-data-system-api http://www.mulesoft.org/schema/mule/race-data-system-api/current/mule-race-data-system-api.xsd">
    <apikit:config name="anypoint-race-api-config" api="resource::ae6d7954-6fc2-4f3e-8777-80ff8aabd859:anypoint-race-api:4.0.10:raml:zip:anypoint-race-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="anypoint-race-api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="variable clientId" doc:id="7f495b90-95e2-4248-b771-4642d749adb7">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="clientId"><![CDATA[output application/java
import * from dw::core::Strings
import * from dw::core::Binaries
var encodedCredentials = attributes.headers.Authorization substringAfter "Basic "
var credentials = fromBase64(encodedCredentials as String) as String
---
credentials substringBefore ":"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="TRACE" doc:name="TRACE" doc:id="bfe69168-4f62-4cf3-985e-0f6adb858e8c" category="race.api" message="API client #[vars.clientId]" />
        <apikit:router config-ref="anypoint-race-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Unsupported media type",
	hint: "Check the Content-Type header you provided in the request"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="anypoint-race-api-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="anypoint-race-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\health:anypoint-race-api-config">
        <set-payload value="Ok" doc:name="Ok" doc:id="f778d824-2707-4433-a698-40c4407eb460" />
    </flow>
    <flow name="post:\register:application\json:anypoint-race-api-config">
        <flow-ref doc:name="registerRacer" doc:id="af973961-b5d4-4d58-9584-62b4df5e3e27" name="registerRacer" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="5c2bb858-3c43-4d2c-a227-d18cc4bc1942" type="APP:CLIENT_ID_MISSING">
                <set-variable value="401" doc:name="httpStatus = 401" doc:id="e125a6f8-e275-40d7-a094-26b896076540" variableName="httpStatus" />
                <set-payload value="#[output application/json --- { message: &quot;Invalid Client&quot; }]" doc:name="Invalid Client" doc:id="a6485088-3a18-4cb8-a3c3-7befbe856fde" />
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="get:\racers:anypoint-race-api-config" doc:id="22ac3fb4-8fde-4cf1-a262-536d3728fd10">
        <race-data-system-api:search-racers doc:name="Search Racers" doc:id="3b62eb50-7efb-4b2c-89bd-f25f2afce8a6" config-ref="raceDataSystemApiConfig" result="profile" />
    </flow>
    <flow name="get:\racers\mine:anypoint-race-api-config" doc:id="73de8e45-481a-4c2a-9b7b-938034287510">
        <race-data-system-api:search-racers doc:name="Search Racers" doc:id="52b6d811-2426-4b24-9aa6-3edbaced1be6" config-ref="raceDataSystemApiConfig" client-id="#[vars.clientId]" result="profile" />
        <choice doc:name="Choice" doc:id="dda4eb52-f50a-434c-95d5-551f9323d5da">
            <when expression="#[sizeOf(payload) == 1]">
                <ee:transform doc:name="to Racer" doc:id="d3f66692-5a88-4885-a800-cbf0dec13134">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var result = payload[0]
---
result - "racerId" ++ {
	id: result.racerId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <set-variable value="404" doc:name="httpStatus = 404" doc:id="f331d5b6-5b1b-44d6-824a-e1f92f424e0f" variableName="httpStatus" />
                <ee:transform doc:name="error message" doc:id="1709dfed-ec43-4e21-b6cb-31a27124c105">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "No racer found for clientId $(vars.clientId). Create one with POST /register"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <flow name="get:\racers\(racerId)\who-are-you:anypoint-race-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="racerId">attributes.uriParams.'racerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\racers\(racerId)\who-are-you:anypoint-race-api-config" />
    </flow>
    <flow name="get:\racers\(racerId):anypoint-race-api-config" doc:id="44c12814-a072-4f1e-a39b-99ed73625f25">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="racerId">attributes.uriParams.'racerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  displayName: "Sylvester the Cat",
  email: "sylvester@wb.com",
  baseUri: "https://api.wb.com/anypoint-speedway/sylvester-racer"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\racers\mine\entry:anypoint-race-api-config" doc:id="0109f5a3-7f5b-4eae-8fcb-34e16a3a479e">
        <race-data-system-api:search-racers doc:name="Search Racers" doc:id="5c1b5456-511f-4a29-b3b7-37721e69ea2a" config-ref="raceDataSystemApiConfig" client-id="#[vars.clientId]" result="id" />
        <race-data-system-api:get-entry doc:name="Get Entry" doc:id="349f0a36-81a2-4f69-abee-7773af094c0e" config-ref="raceDataSystemApiConfig" id="#[payload[0].racerId]" />
        <ee:transform doc:name="Transform Message" doc:id="cfb74eac-f7fe-408b-bab2-355c110461e3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  active: payload.active,
  score: payload.score
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a52cacd5-3d2c-4341-b9e7-e6dc33ff7049" />
    </flow>
    <flow name="put:\racers\mine\entry:anypoint-race-api-config" doc:id="d51a1505-ed60-4a11-8518-01b701dc8fe3">
        <flow-ref doc:name="getRacerId" doc:id="6564ffd6-713a-40c0-9ae3-68f35c3f686d" name="getRacerId" target="racerId" />
        <flow-ref doc:name="enterAiChallenge" doc:id="99f30eb8-6fc4-40c5-8eaf-f5051bca213e" name="enterAIChallenge" />
    </flow>
    <flow name="delete:\racers\mine\entry:anypoint-race-api-config">
        <flow-ref doc:name="getRacerId" doc:id="f7fbcc3f-9cd3-4b04-b92b-8904a8b7125e" name="getRacerId" target="racerId" />
        <race-data-system-api:set-entry-active doc:name="Set Entry Active" doc:id="60d12f23-1436-4b5f-a7a9-de41a4506124" config-ref="raceDataSystemApiConfig" id="#[vars.racerId]">
            <race-data-system-api:set-entry-active-request-data><![CDATA[#[false]]]></race-data-system-api:set-entry-active-request-data>
        </race-data-system-api:set-entry-active>
        <logger level="INFO" message="delete:\racers\mine\entry:anypoint-race-api-config" />
    </flow>
    <flow name="get:\seasons\3\leaderboard:anypoint-race-api-config">
        <set-variable value="#[attributes.queryParams.timespan default &quot;season&quot;]" doc:name="timespan" doc:id="ef0f3d03-10b4-4e67-aac5-ac0b6ec6dc3b" variableName="timespan" />
        <set-variable value="#[attributes.queryParams.count default 10]" doc:name="count" doc:id="157d3701-be12-48f5-a102-dca9b71d7861" variableName="count" />
        <flow-ref doc:name="getLeaderboard" doc:id="01c79235-770a-4538-93af-79de1e827fa8" name="getLeaderboard" />
    </flow>
</mule>
