src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
    <apikit:config name="anypoint-race-api-config" api="resource::ae6d7954-6fc2-4f3e-8777-80ff8aabd859:anypoint-race-api:3.2.1:raml:zip:anypoint-race-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="anypoint-race-api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="anypoint-race-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Unsupported media type",
	hint: "Check the Content-Type header you provided in the request"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="anypoint-race-api-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="anypoint-race-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\register:application\json:anypoint-race-api-config">
        <set-variable value="#[output application/java&#xA;import * from dw::core::Strings&#xA;import * from dw::core::Binaries&#xA;var encodedCredentials = attributes.headers.Authorization substringAfter &quot;Basic &quot;&#xA;var credentials = fromBase64(encodedCredentials as String)&#xA;---&#xA;credentials substringBefore &quot;:&quot;]" doc:name="clientId" doc:id="6dbfd39f-8d36-480b-bfa9-ceb3247dd9c0" variableName="clientId" />
        <flow-ref doc:name="registerRacer" doc:id="af973961-b5d4-4d58-9584-62b4df5e3e27" name="registerRacer" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="5c2bb858-3c43-4d2c-a227-d18cc4bc1942" type="APP:CLIENT_ID_MISSING">
                <set-variable value="401" doc:name="httpStatus = 401" doc:id="e125a6f8-e275-40d7-a094-26b896076540" variableName="httpStatus" />
                <set-payload value="#[output application/json --- { message: &quot;Invalid Client&quot; }]" doc:name="Invalid Client" doc:id="a6485088-3a18-4cb8-a3c3-7befbe856fde" />
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="post:\racers\(racerId)\practice\rest-client\time-trials:anypoint-race-api-config">
        <flow-ref doc:name="practice_restclient_startTimeTrial" doc:id="58aa5211-a400-4c74-9c9f-f05cab83bc8a" name="practice_restclient_startTimeTrial" />
        <logger level="INFO" doc:name="INFO" doc:id="4962065a-58c9-45b8-b52d-d03b2a571864" message="racer #[attributes.uriParams.racerId] [practice/rest-client] started a time trial #[payload.timeTrialId]" category="race.api" />
    </flow>
    <flow name="post:\racers\(racerId)\practice\rest-client\time-trials\(timeTrialId)\laps:text\plain:anypoint-race-api-config">
        <set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="7879143c-3291-4f41-9910-0d56feb1b9a2" variableName="racerId" />
        <set-variable value="#[attributes.uriParams.timeTrialId]" doc:name="timeTrialId" doc:id="6d2bff37-5668-4df8-90a3-5c38f038d185" variableName="timeTrialId" />
        <flow-ref doc:name="practice_restclient_lap" doc:id="516d3022-9112-4505-ad4e-036daa4d33bd" name="practice_restclient_lap" />
        <logger level="INFO" doc:name="INFO" doc:id="7567af79-6e57-44dd-a04a-3a19210704f7" category="race.api" message="racer #[vars.racerId] [practice/rest-client] completed a lap for #[vars.timeTrialId]" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="238ad850-c679-434f-8504-a0953fb5274e" type="APP:NO_SUCH_RACE">
                <set-variable value="404" doc:name="httpStatus = 404" doc:id="149e78ad-1adb-494e-8186-17cac9bf55c6" variableName="httpStatus" />
                <set-payload value="no such race" doc:name="no such race" doc:id="702bb1b9-cdae-447c-92c1-dc4afdf1864f" />
                <logger level="WARN" doc:name="WARN" doc:id="2f0b42f2-f2a9-49ad-8156-64331c675333" message="racer #[vars.racerId] [practice/restclient] tried to complete a lap for non-existent time trial #[vars.timeTrialId]" category="race.practice.restclient.lap" />
            </on-error-continue>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="38eebf08-b3fc-4f47-ba32-2ce529a396fd" type="APP:BAD_TOKEN">
                <set-variable value="400" doc:name="httpStatus = 400" doc:id="0f13378b-4a73-48bb-9913-5a9dbe257fbe" variableName="httpStatus" />
                <set-payload value="bad token" doc:name="bad token" doc:id="618f4518-3859-41e1-acca-021db7da8e69" />
                <logger level="WARN" doc:name="WARN" doc:id="9802ab05-656f-4afd-9bfd-28a05ff4d8c3" category="race.practice.restclient.lap" message="racer #[vars.racerId] [practice/restclient] tried to complete a lap with a bad token" />
            </on-error-continue>
            <on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="c385f7ab-0552-4169-b865-49593ecf1312" type="APP:RACE_FINISHED">
                <set-variable value="410" doc:name="httpStatus = 410" doc:id="eef31705-8a45-48cc-b306-4ed2ffafc921" variableName="httpStatus" />
                <set-payload value="this race is over" doc:name="race is over" doc:id="16ff32c0-d27c-47e8-972c-5a38f9b61c3b" />
                <logger level="WARN" doc:name="WARN" doc:id="5f06bae3-60f8-4d4f-a107-443740895e9d" message="racer #[vars.racerId] [practice/restclient] tried to complete a lap after a race was already finished" category="race.practice.restclient.lap" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\racers\(racerId)\practice\rest-client\time-trials\(timeTrialId)\finish-line:text\plain:anypoint-race-api-config">
        <set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="6906d50e-36e8-4b87-9e91-8f9d9edf2729" variableName="racerId" />
        <set-variable value="#[attributes.uriParams.timeTrialId]" doc:name="timeTrialId" doc:id="10c61589-6ce7-4208-81f6-664e62addd72" variableName="timeTrialId" />
        <flow-ref doc:name="practice_restclient_finish" doc:id="31821a0a-b88a-4e72-8548-8340f52ee7ef" name="practice_restclient_finish" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="e5df2231-04b7-44fd-bc87-cb44924f1f99" type="APP:NO_SUCH_RACE">
                <set-variable value="404" doc:name="httpStatus = 404" doc:id="c7e093c2-79ec-451b-9bbe-191fc03f5d1c" variableName="httpStatus" />
                <set-payload value="no such race" doc:name="no such race" doc:id="f087dbfc-d675-46fd-b2bd-40bb5a9b4423" />
                <logger level="WARN" doc:name="WARN" doc:id="3f9e751c-3b97-4eb0-9cbd-75c1c3147c41" message="racer #[vars.racerId] [practice/restclient] tried to finish a non-existent time trial #[vars.timeTrialId]" category="race.practice.restclient.finish" />
            </on-error-continue>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="381d04ff-f688-4639-acfa-00cfc3f9a8fa" type="APP:BAD_TOKEN">
                <set-variable value="400" doc:name="httpStatus = 400" doc:id="c19eec56-4710-4434-a035-e6ab935e14f1" variableName="httpStatus" />
                <set-payload value="bad token" doc:name="bad token" doc:id="07585b66-97f6-4a42-a037-9a4b2ccb2fac" />
                <logger level="WARN" doc:name="WARN" doc:id="358486aa-737a-429d-8fbc-8f039cd76393" message="racer #[vars.racerId] [practice/restclient] tried to complete a time trial #[vars.timeTrialId] with a bad token" category="race.practice.restclient.finish" />
            </on-error-continue>
            <on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="ad2b74fd-affb-42bb-be77-9aad799a19d3" type="APP:RACE_FINISHED">
                <set-variable value="410" doc:name="httpStatus = 410" doc:id="9b77d1e3-233e-4b6c-9906-144a6e6828be" variableName="httpStatus" />
                <set-payload value="this race is over" doc:name="race is over" doc:id="ac54b928-d843-491b-8d23-0e6b9100eac3" />
                <logger level="WARN" doc:name="WARN" doc:id="9946d280-50c1-4c4d-ad48-44904eb7a1e3" message="racer #[vars.racerId] [practice/restclient] tried to complete a time trial #[vars.timeTrialId] after a race was already finished" category="race.practice.restclient.lap" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\racers\(racerId)\practice\rest-api:application\json:anypoint-race-api-config">
        <set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="f947a5b7-788a-48e4-893d-f5f7dc3dd994" variableName="racerId" />
        <flow-ref doc:name="practice_restapi_enable" doc:id="b4d13a85-e1e0-42ea-99ac-0e55796e698c" name="practice_restapi_enable" />
    </flow>
    <flow name="get:\racers\(racerId)\practice\rest-api:anypoint-race-api-config">
        <set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="fd451d6c-0763-4bf2-8678-5d2d424d55a8" variableName="racerId" />
        <flow-ref doc:name="practice_restapi_check" doc:id="317652a8-28de-43a5-9570-0c411c14e4b2" name="practice_restapi_check" />
    </flow>
    <flow name="put:\racers\(racerId)\practice\average-temperatures:application\json:anypoint-race-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="racerId">attributes.uriParams.'racerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\racers\(racerId)\practice\average-temperatures:application\json:anypoint-race-api-config" />
    </flow>
	<flow name="get:\racers\(racerId)\practice\average-temperatures:anypoint-race-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="racerId">attributes.uriParams.'racerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\racers\(racerId)\practice\average-temperatures:anypoint-race-api-config" />
    </flow>
	<flow name="post:\racers\(racerId)\practice\seasons\2\start:application\json:anypoint-race-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="4c11c39a-d1f6-41c4-8500-ae29d0935965" />
    </flow>
    <flow name="post:\racers\(racerId)\practice\seasons\2\races\(raceId)\lap:application\json:anypoint-race-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="48ce752f-3e23-442b-bb5a-9d797fcbc439" />
    </flow>
    <flow name="post:\racers\(racerId)\practice\seasons\2\races\(raceId)\finish:text\plain:anypoint-race-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="42d4d186-611e-4dcc-84ed-b544fa1098ce" />
    </flow>
</mule>
