src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
	<ee:object-store-caching-strategy name="racerIdCachingStrategy" doc:name="Caching Strategy" doc:id="8b2f7bb7-e055-434b-929c-bb931b876ad4" keyGenerationExpression="#[attributes.headers.client_id]" >
		<os:private-object-store alias="registerCacheObjectStore" entryTtl="30" entryTtlUnit="DAYS"/>
	</ee:object-store-caching-strategy>
	<sub-flow name="getRacerId" doc:id="ecc8b7d9-7dfa-40a2-b3d9-16d899fca337" >
		<set-variable value="#[attributes.headers.client_id]" doc:name="clientId" doc:id="320f2fd4-492e-4907-b1d1-0d955a362ae5" variableName="clientId"/>
		<redis:get doc:name="racerid for client_id" doc:id="c2a7c733-87d9-4c33-baa2-68446e920032" key='#["racerid:$(vars.clientId)"]' config-ref="Redis_Redis"/>
		<choice doc:name="Choice" doc:id="8d01dc18-0e3a-41e4-9bc9-16fd91d11146" >
			<when expression="#[payload == null]">
				<set-payload value="#[uuid()]" doc:name="uuid()" doc:id="dd80a7d6-d680-48ba-b9d3-347635e3af8b" />
				<redis:set doc:name="racerid for client_id" doc:id="1952b5d2-68ba-44f6-bf90-42df67a6382d" config-ref="Redis_Redis" key='#["racerid:$(vars.clientId)"]' target="redisResult"/>
			</when>
			<otherwise >
				<logger level="DEBUG" doc:name="DEBUG" doc:id="29dc815c-d08a-4066-8ebc-f08c87341c70" message="using cached racer ID #[payload]" category="race.getRacerId"/>
			</otherwise>
		</choice>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="7f9b7500-d365-4df4-8f71-072f74bf8562" message="client id: #[vars.clientId] = racer id: #[payload]" category="race.racerId"/>
	</sub-flow>
	<flow name="registerRacer" doc:id="7edfeca7-3d19-4a8a-94cb-b4ba51dfb9be" >
		<validation:is-not-null doc:name="Is not null" doc:id="3f447caa-4739-4fc3-83c3-00a6f64aa268" value="#[attributes.headers.client_id]">
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:CLIENT_ID_MISSING" />
		</validation:is-not-null>
		<flow-ref doc:name="getRacerId" doc:id="305dacb5-97c6-4d4e-bda6-ea882d1677f9" name="getRacerId" target="racerId"/>
		<ee:transform doc:name="racer" doc:id="cb6e3fad-0340-43fc-8d2c-d00cf78a8ef1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	displayName: payload.displayName,
	email: payload.email,
	racerId: vars.racerId,
	clientId: attributes.headers.client_id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<redis:set doc:name="racer" doc:id="6c52874b-1116-464e-9040-46788abebcec" config-ref="Redis_Redis" key="#['racer:' ++ vars.racerId]" target="redisResult">
			<redis:value ><![CDATA[#[output application/java --- write(payload, "application/json")]]]></redis:value>
		</redis:set>
		<logger level="INFO" doc:name="INFO" doc:id="60528fa0-8696-44a6-b973-5cdde3b4586c" message="Registered racer #[payload.racerId] for client #[payload.clientId]: #[payload.email]" category="race.register"/>
	</flow>
	<flow name="retrieveRacer" doc:id="0c7b9d6c-682b-423e-86e9-4bc58586110a" >
		<validation:is-not-null doc:name="Is not null" doc:id="a6658fca-d46b-4278-a168-15b568f1cd97" value="#[attributes.headers.client_id]">
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:CLIENT_ID_MISSING" />
		</validation:is-not-null>
		<os:retrieve doc:name="racer" doc:id="a82b00ca-e0ee-40b1-8728-e255d3307533" key="#['racer.' ++ vars.racerId]" objectStore="racerObjectStore"/>
		<set-payload value="#[output application/json --- payload]" doc:name="to JSON" doc:id="fba8fefb-4ba8-48d8-9fa6-ab448184033d" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="55a0fc06-9792-4e4a-85c5-c3da80fd96a2" />
		</error-handler>
	</flow>
	<flow name="startRace" doc:id="4327921b-3d52-47e3-855a-f59691c3a831">
		<set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="06891a06-af15-4c69-b1b6-1ac9d98236a1" variableName="racerId" />
		<set-variable value="#[uuid()]" doc:name="raceId" doc:id="ca899825-0302-4042-8b19-82bf321c8740" variableName="raceId" />
		<set-variable value="#[uuid()]" doc:name="raceToken" doc:id="4842c28b-c95e-4b55-b42b-32b203eb2568" variableName="raceToken" />
		<ee:transform doc:name="raceInfo" doc:id="597714b9-f777-4d3b-8a91-55040586b542">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	racerId: vars.racerId,
	raceId: vars.raceId,
	token: vars.raceToken,
	start: now() as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="raceId" doc:id="a21edcbe-3350-47ae-bc01-36e309ccc519" objectStore="hotRaceObjectStore" key="#[vars.raceId]" failIfPresent="true" />
		<ee:transform doc:name="response" doc:id="7e13d1b7-ee12-4c1e-9622-94bd36337f88" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	token: vars.raceToken,
	raceId: vars.raceId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[output application/java&#10;var parentDir = attributes.requestPath splitBy &quot;/&quot; then $[0 to -2] then $ joinBy &quot;/&quot;&#10;---&#10;{ &#10;	Location: parentDir ++ '/races/$(vars.raceId)/finish'&#10;}]" doc:name="outboundHeaders" doc:id="9600a1f4-5cb0-4801-9a82-b2568be608a2" variableName="outboundHeaders"/>
		<logger level="INFO" doc:name="INFO" doc:id="eeed0813-3b1b-466c-a647-db37dd71e50e" message="racer #[vars.racerId] started a new race #[vars.raceId]" category="race.start"/>
	</flow>
	<flow name="finishLap" doc:id="86dc1729-b308-44c7-8ccb-af52cf3290f5" >
		<set-variable value="#[now()]" doc:name="lapStart" doc:id="be1c5ab7-eba9-47b7-a13f-3e6a418bf027" variableName="lapStart"/>
		<set-variable value="#[payload]" doc:name="requestToken" doc:id="16deff18-d95e-4228-8953-0756673e301a" variableName="requestToken" />
		<flow-ref doc:name="lookupRaceAndRacer" doc:id="3a7abdf5-7e69-454b-8f21-207d67a730ef" name="lookupRaceAndRacer"/>
		<validation:is-true doc:name="check token" doc:id="216b60d4-3209-4165-a119-46352cf7d30f" expression="#[vars.requestToken == vars.race.token]" message="#['Race token is not valid: ' ++ vars.requestToken]" >
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_RACE_TOKEN" />
		</validation:is-true>
		<validation:is-null doc:name="Is null" doc:id="e284ddd6-d5f1-4e0e-a835-c1703726f061" value="#[vars.race.finish]">
			<error-mapping sourceType="VALIDATION:NOT_NULL" targetType="APP:LAP_FORBIDDEN" />
		</validation:is-null>
		<set-variable value='#[import mergeWith from dw::core::Objects&#10;output application/json&#10;var lastLapStart = vars.race.lapStart default vars.race.start&#10;var elapsed = (vars.lapStart - lastLapStart) as Number {unit: "milliseconds"} / 1000&#10;--- &#10;vars.race mergeWith {&#10;	laps: (vars.race.laps default 0) + 1,&#10;	lapStart: vars.lapStart,&#10;	lastLapElapsed: elapsed&#10;}]' doc:name="race + new lap" doc:id="e0e45b2e-ad5d-4841-b97c-97c549032ea9" variableName="race"/>
		<set-variable value="#[vars.race update { case .token -&gt; uuid() }]" doc:name="rotate race token" doc:id="0f4be36b-eb9e-47eb-a32e-4e3c053f3c7e" variableName="race"/>
		<os:store doc:name="race" doc:id="12acdbef-21db-4640-983b-2e87f9b5604a" key="#[vars.raceId]" objectStore="hotRaceObjectStore" >
			<os:value ><![CDATA[#[vars.race]]]></os:value>
		</os:store>
		<ee:transform doc:name="response" doc:id="923b9b21-7c53-47ea-a632-bdf291de2c86" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	token: vars.race.token,
	laps: vars.race.laps,
	lapSeconds: vars.race.lastLapElapsed
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO" doc:id="b17f5de4-e1a6-4b0e-b9a9-08f4a5bc06aa" message="racer #[vars.racerId] finished a lap in race #[vars.raceId]" category="race.lap"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="768dec70-9d72-4f56-943a-164286717fe7" />
		</error-handler>
	</flow>
	<flow name="finishRace" doc:id="2958156d-0447-4dc6-85d2-a42c117388ba">
		<set-variable value="#[now()]" doc:name="finish" doc:id="e69aaf15-9103-4b99-b656-d089846eca66" variableName="finish" />
		<set-variable value="#[payload]" doc:name="requestToken" doc:id="ae622601-9ffa-42dc-95e5-bd002b18fbaa" variableName="requestToken" />
		<flow-ref doc:name="lookupRaceAndRacer" doc:id="547d7cd5-f1cc-41a1-83e8-2f7c9c683599" name="lookupRaceAndRacer" />
		<validation:is-true doc:name="check token" doc:id="9bfc00e7-02ce-46ee-98f2-a6d4998c03d1" expression="#[vars.requestToken == vars.race.token]" message="#['Race token is not valid: ' ++ vars.requestToken]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_RACE_TOKEN" />
		</validation:is-true>
		<set-variable value="#[output application/json --- vars.race ++ {finish: vars.finish}]" doc:name="race + finish time" doc:id="45c7a484-a4b3-449d-97ec-253284624c66" variableName="race" />
		<os:store doc:name="race" doc:id="484d5e71-4010-4818-8b3d-faeb403b0117" key="#[vars.raceId]" objectStore="hotRaceObjectStore">
			<os:value><![CDATA[#[vars.race]]]></os:value>
		</os:store>
		<ee:transform doc:name="response" doc:id="ee5cd78a-b9d4-40f4-af10-55fc665a7ac3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var time = vars.race.finish - vars.race.start
---
{
	name: vars.racer.displayName,
	finished: vars.race.finish,
	secondsToComplete: time as Number {unit: "milliseconds"} / 1000,
	(laps: vars.race.laps) if vars.race.laps?
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO" doc:id="34ae51e6-4b7c-4e0e-87de-93c9cb1728da" message="racer #[vars.racerId] finished race #[vars.raceId]" category="race.finish"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="ff8c7c3b-5d60-415a-b520-caba69d05fa1" />
		</error-handler>
	</flow>
	<sub-flow name="lookupRaceAndRacer" doc:id="3db4429f-8267-4166-b99f-51797d7dfaa0">
		<set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="ef2af9e6-6288-4fce-b92f-615e3f2f41e3" variableName="racerId" />
		<flow-ref doc:name="retrieveRacer" doc:id="2f7b3f1d-bbb1-42a6-8161-0c0b6614489a" name="retrieveRacer" target="racer" />
		<set-variable value="#[attributes.uriParams.raceId]" doc:name="raceId" doc:id="82a6e5a1-d831-4c19-9351-45b70e414b56" variableName="raceId" />
		<os:retrieve doc:name="race" doc:id="b4b906fc-cd21-469a-b0f6-08bdf7a783da" key="#[vars.raceId]" objectStore="hotRaceObjectStore" target="race" targetValue="#[output application/json --- payload]" >
			<error-mapping sourceType="OS:KEY_NOT_FOUND" targetType="APP:INVALID_RACE" />
		</os:retrieve>
	</sub-flow>
</mule>
