src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
	<ee:object-store-caching-strategy name="racerIdCachingStrategy" doc:name="Caching Strategy" doc:id="8b2f7bb7-e055-434b-929c-bb931b876ad4" keyGenerationExpression="#[attributes.headers.client_id]" >
		<os:private-object-store alias="registerCacheObjectStore" entryTtl="30" entryTtlUnit="DAYS"/>
	</ee:object-store-caching-strategy>
	<sub-flow name="getRacerId" doc:id="ecc8b7d9-7dfa-40a2-b3d9-16d899fca337" >
		<set-variable value="#[attributes.headers.client_id]" doc:name="clientId" doc:id="320f2fd4-492e-4907-b1d1-0d955a362ae5" variableName="clientId"/>
		<redis:get doc:name="racerid for client_id" doc:id="c2a7c733-87d9-4c33-baa2-68446e920032" key='#["racerid:$(vars.clientId)"]' config-ref="Redis_Redis"/>
		<choice doc:name="Choice" doc:id="8d01dc18-0e3a-41e4-9bc9-16fd91d11146" >
			<when expression="#[payload == null]">
				<set-payload value="#[uuid()]" doc:name="uuid()" doc:id="dd80a7d6-d680-48ba-b9d3-347635e3af8b" />
				<redis:set doc:name="racerid for client_id" doc:id="1952b5d2-68ba-44f6-bf90-42df67a6382d" config-ref="Redis_Redis" key='#["racerid:$(vars.clientId)"]' target="redisResult"/>
			</when>
			<otherwise >
				<logger level="DEBUG" doc:name="DEBUG" doc:id="29dc815c-d08a-4066-8ebc-f08c87341c70" message="using cached racer ID #[payload]" category="race.getRacerId"/>
			</otherwise>
		</choice>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="7f9b7500-d365-4df4-8f71-072f74bf8562" message="client id: #[vars.clientId] = racer id: #[payload]" category="race.racerId"/>
	</sub-flow>
	<flow name="registerRacer" doc:id="7edfeca7-3d19-4a8a-94cb-b4ba51dfb9be" >
		<validation:is-not-null doc:name="Is not null" doc:id="3f447caa-4739-4fc3-83c3-00a6f64aa268" value="#[attributes.headers.client_id]">
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:CLIENT_ID_MISSING" />
		</validation:is-not-null>
		<flow-ref doc:name="getRacerId" doc:id="305dacb5-97c6-4d4e-bda6-ea882d1677f9" name="getRacerId" target="racerId"/>
		<ee:transform doc:name="racer" doc:id="cb6e3fad-0340-43fc-8d2c-d00cf78a8ef1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	displayName: payload.displayName,
	email: payload.email,
	racerId: vars.racerId,
	clientId: attributes.headers.client_id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<redis:set doc:name="racer" doc:id="6c52874b-1116-464e-9040-46788abebcec" config-ref="Redis_Redis" key="#['racer:' ++ vars.racerId]" target="redisResult">
			<redis:value ><![CDATA[#[output application/java --- write(payload, "application/json")]]]></redis:value>
		</redis:set>
		<logger level="INFO" doc:name="INFO" doc:id="60528fa0-8696-44a6-b973-5cdde3b4586c" message="Registered racer #[payload.racerId] for client #[payload.clientId]: #[payload.email]" category="race.register"/>
	</flow>
	<flow name="retrieveRacer" doc:id="0c7b9d6c-682b-423e-86e9-4bc58586110a" >
		<validation:is-not-null doc:name="Is not null" doc:id="a6658fca-d46b-4278-a168-15b568f1cd97" value="#[attributes.headers.client_id]">
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:CLIENT_ID_MISSING" />
		</validation:is-not-null>
		<redis:get doc:name="Get racer" doc:id="deebf049-1e83-4688-9d4c-228841565a01" key="#['racer:' ++ vars.racerId]" config-ref="Redis_Redis"/>
<validation:is-not-blank-string doc:name="Is not blank string" doc:id="6fce677b-2c7d-478b-bca2-4d0e8f271a40" >
			<error-mapping targetType="APP:INVALID_RACER_ID" />
		</validation:is-not-blank-string>
		<ee:transform doc:name="Transform Message" doc:id="2bf62e0a-3cc0-4ece-b5fa-f9e781d22f53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
var payloadNoNewline = payload replace "\n" with ""
---
read(payloadNoNewline, "application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="55a0fc06-9792-4e4a-85c5-c3da80fd96a2" type="APP:INVALID_RACER_ID">
				<set-payload value='#["Invalid racer $(vars.racerId)"]' doc:name="Set Payload" doc:id="af88e282-0627-4615-873d-f27b4a21b35e" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="6fc307bb-9099-4005-b365-63cb53e65084" />
		</error-handler>
	</flow>
	<flow name="startRace" doc:id="4327921b-3d52-47e3-855a-f59691c3a831">
		<set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="06891a06-af15-4c69-b1b6-1ac9d98236a1" variableName="racerId" />
		<set-variable value="#[attributes.requestPath]" doc:name="requestPath" doc:id="578d9de7-0a2d-480c-9316-875fcf3267e4" variableName="requestPath"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	racerId: vars.racerId,&#10;	raceId: uuid(),&#10;	token: uuid(),&#10;	start: now() as String,&#10;	url: payload.racerUrl&#10;}]" doc:name="race" doc:id="cf22a59b-b3e3-4825-b9e6-bbfc1ad9a749" variableName="race"/>
		<redis:set doc:name="race:{raceId}" doc:id="4111c289-c1f2-4d3d-acd3-e47a68e4ca32" config-ref="Redis_Redis" key="#['race:' ++ vars.race.raceId]">
			<redis:value ><![CDATA[#[output application/java --- write(vars.race, "application/json")]]]></redis:value>
		</redis:set>
		<flow-ref doc:name="notifyRaceToken" doc:id="97eed252-cbc0-485e-b187-1e0e0ce68072" name="notifyRaceToken" target="notifyResponse" />
		<ee:transform doc:name="response" doc:id="7e13d1b7-ee12-4c1e-9622-94bd36337f88" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	raceId: vars.race.raceId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[output application/java&#10;var parentDir = vars.requestPath splitBy &quot;/&quot; then $[0 to -2] then $ joinBy &quot;/&quot;&#10;---&#10;{ &#10;	Location: parentDir ++ '/races/$(vars.race.raceId)/finish'&#10;}]" doc:name="outboundHeaders" doc:id="9600a1f4-5cb0-4801-9a82-b2568be608a2" variableName="outboundHeaders"/>
		<logger level="INFO" doc:name="INFO" doc:id="eeed0813-3b1b-466c-a647-db37dd71e50e" message="racer #[vars.racerId] started a new race #[vars.race.raceId]" category="race.start"/>
	</flow>
	<flow name="finishLap" doc:id="86dc1729-b308-44c7-8ccb-af52cf3290f5" >
		<set-variable value="#[now()]" doc:name="lapStart" doc:id="be1c5ab7-eba9-47b7-a13f-3e6a418bf027" variableName="lapStart"/>
		<set-variable value="#[payload]" doc:name="requestToken" doc:id="16deff18-d95e-4228-8953-0756673e301a" variableName="requestToken" />
		<flow-ref doc:name="lookupRaceAndRacer" doc:id="3a7abdf5-7e69-454b-8f21-207d67a730ef" name="lookupRaceAndRacer"/>
		<validation:is-true doc:name="check token" doc:id="216b60d4-3209-4165-a119-46352cf7d30f" expression="#[vars.requestToken == vars.race.token]" message="#['Race token is not valid: ' ++ vars.requestToken]" >
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_RACE_TOKEN" />
		</validation:is-true>
		<validation:is-null doc:name="Validate race still in progress" doc:id="e284ddd6-d5f1-4e0e-a835-c1703726f061" value="#[vars.race.finish]">
			<error-mapping sourceType="VALIDATION:NOT_NULL" targetType="APP:LAP_FORBIDDEN" />
		</validation:is-null>
		<set-variable value='#[import mergeWith from dw::core::Objects&#10;output application/json&#10;var lastLapStart = vars.race.lapStart default vars.race.start&#10;var elapsed = (vars.lapStart - lastLapStart) as Number {unit: "milliseconds"} / 1000&#10;--- &#10;vars.race mergeWith {&#10;	laps: (vars.race.laps default 0) + 1,&#10;	lapStart: vars.lapStart,&#10;	lastLapElapsed: elapsed&#10;}]' doc:name="race + new lap" doc:id="e0e45b2e-ad5d-4841-b97c-97c549032ea9" variableName="race"/>
		<set-variable value="#[vars.race update { case .token -&gt; uuid() }]" doc:name="rotate race token" doc:id="0f4be36b-eb9e-47eb-a32e-4e3c053f3c7e" variableName="race"/>
		<redis:set doc:name="race:{raceId}" doc:id="a6b3bc0a-b8a0-408d-8755-989bd719aeb6" config-ref="Redis_Redis" key='#["race:" ++ vars.raceId]'>
			<redis:value ><![CDATA[#[output application/java --- write(vars.race, "application/json")]]]></redis:value>
		</redis:set>
		<flow-ref doc:name="notifyRaceToken" doc:id="10c9d3dc-e12a-4d0d-93e7-95253849d811" name="notifyRaceToken" target="notifyResponse"/>
		<ee:transform doc:name="response" doc:id="923b9b21-7c53-47ea-a632-bdf291de2c86" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	laps: vars.race.laps,
	lapSeconds: vars.race.lastLapElapsed
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO" doc:id="b17f5de4-e1a6-4b0e-b9a9-08f4a5bc06aa" message="racer #[vars.racerId] finished a lap in race #[vars.raceId]" category="race.lap"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="768dec70-9d72-4f56-943a-164286717fe7" />
		</error-handler>
	</flow>
	<flow name="finishRace" doc:id="2958156d-0447-4dc6-85d2-a42c117388ba">
		<set-variable value="#[now()]" doc:name="finish" doc:id="e69aaf15-9103-4b99-b656-d089846eca66" variableName="finish" />
		<set-variable value="#[payload]" doc:name="requestToken" doc:id="ae622601-9ffa-42dc-95e5-bd002b18fbaa" variableName="requestToken" />
		<flow-ref doc:name="lookupRaceAndRacer" doc:id="547d7cd5-f1cc-41a1-83e8-2f7c9c683599" name="lookupRaceAndRacer" />
		<validation:is-true doc:name="check token" doc:id="9bfc00e7-02ce-46ee-98f2-a6d4998c03d1" expression="#[vars.requestToken == vars.race.token]" message="#['Race token is not valid: ' ++ vars.requestToken]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_RACE_TOKEN" />
		</validation:is-true>
		<set-variable value="#[output application/json --- vars.race ++ {finish: vars.finish}]" doc:name="race + finish time" doc:id="45c7a484-a4b3-449d-97ec-253284624c66" variableName="race" />
		<redis:set doc:name="race:{raceId}" doc:id="c34a4e77-fd58-4467-9c59-85cc74eae944" config-ref="Redis_Redis" key="#[vars.raceId]" >
			<redis:value ><![CDATA[#[output application/java --- write(vars.race, "application/json")]]]></redis:value>
		</redis:set>
		<ee:transform doc:name="response" doc:id="ee5cd78a-b9d4-40f4-af10-55fc665a7ac3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var time = vars.race.finish - vars.race.start
---
{
	name: vars.racer.displayName,
	finished: vars.race.finish,
	secondsToComplete: time as Number {unit: "milliseconds"} / 1000,
	(laps: vars.race.laps) if vars.race.laps?
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO" doc:id="34ae51e6-4b7c-4e0e-87de-93c9cb1728da" message="racer #[vars.racerId] finished race #[vars.raceId]" category="race.finish"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="ff8c7c3b-5d60-415a-b520-caba69d05fa1" />
		</error-handler>
	</flow>
	<sub-flow name="lookupRaceAndRacer" doc:id="3db4429f-8267-4166-b99f-51797d7dfaa0">
		<set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="ef2af9e6-6288-4fce-b92f-615e3f2f41e3" variableName="racerId" />
		<flow-ref doc:name="retrieveRacer" doc:id="2f7b3f1d-bbb1-42a6-8161-0c0b6614489a" name="retrieveRacer" target="racer" />
		<set-variable value="#[attributes.uriParams.raceId]" doc:name="raceId" doc:id="82a6e5a1-d831-4c19-9351-45b70e414b56" variableName="raceId" />
		<redis:get doc:name="Get race" doc:id="9e19107d-5ccb-4bd1-9ab1-3558bb595931" config-ref="Redis_Redis" key='#["race:" ++ vars.raceId]' target="race" targetValue='#[output application/json --- read(payload, "application/json")]'>
			<error-mapping targetType="APP:INVALID_RACE" sourceType="REDIS:INVALID_REQUEST_DATA"/>
		</redis:get>
	</sub-flow>
	<flow name="notifyRaceToken" doc:id="cbf9a2b4-f0ba-47cd-b369-9d7862b74062" >
		<http:request method="POST" doc:name="POST /race/{raceId}/token" doc:id="f9fdff86-e659-4e66-bdd7-350d20cead27" config-ref="racerHttpRequestConfig" url='#["$(vars.race.url)/race/$(vars.race.raceId)/token"]'>
			<http:body ><![CDATA[#[output text/plain --- vars.race.token]]]></http:body>
		</http:request>
		<validation:is-true doc:name="validate racer ID in API response" doc:id="c43ee84d-2a3b-45ca-b8dc-d85e973e08f1" expression='#[(payload.racerId default "undefined")  == vars.race.racerId]' message="invalid or missing Racer ID in Racer API Response">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_RACER_ID" />
		</validation:is-true>
	</flow>
</mule>
