src/main/mule/leaderboards.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
	<flow name="publishLeaderboards" doc:id="b0d01136-5f96-43f5-a3c1-958c34590ab1">
<!-- [STUDIO:"Every 10 minutes"]		<scheduler doc:name="Every 10 minutes" doc:id="2b287e8f-00e5-4d78-aa2f-1041aad38402">
			<scheduling-strategy>
				<fixed-frequency frequency="600" timeUnit="SECONDS" startDelay="10" />
			</scheduling-strategy>
		</scheduler> [STUDIO] -->
<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="b8750c7e-949c-4b7c-8868-b47526f8a3f8" idExpression='#[now() as String {format: "yyyyMMddHHmm"}]' storePrefix="publishLeaderboards">
			<os:private-object-store alias="publishLeaderboardsObjectStore" persistent="false" maxEntries="10" entryTtl="2" entryTtlUnit="MINUTES" expirationInterval="5" />
		</idempotent-message-validator>
		<logger level="INFO" doc:name="INFO" doc:id="42b455b9-b793-4d3a-88b2-56b90a4ef0a6" message="Starting leaderboard update" category="race.leaderboards"/>
		<flow-ref doc:name="getFinishedRaces" doc:id="7d39b98f-41ff-4613-8937-36bf4317c64e" name="getFinishedRaces" />
				<validation:is-not-empty-collection doc:name="races are not empty" doc:id="25c6e773-5980-4da8-adbb-8f7c2f0352a6">
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NO_RACES_RECORDED" />
		</validation:is-not-empty-collection>
		<set-variable value='#[output application/java&#10;&#10;var allResults = &#10;	payload groupBy $.racerId&#10;		pluck (racerResults) -&gt; &#10;			racerResults map (result) -&gt;&#10;				result ++ {&#10;					elapsed: ( // units = seconds&#10;						result.finish as DateTime as Number {unit: "milliseconds"}&#10;						- result.start as DateTime as Number {unit: "milliseconds"}&#10;					) / 1000 &#10;				}&#10;---&#10;allResults map (racerResults) -&gt; do {&#10;		var overallRacerResults = racerResults[0]&#10;		var firstRace = (racerResults orderBy $.finish)[0]&#10;		var lastRace = (racerResults orderBy $.finish)[-1]&#10;		var bestRace = (racerResults orderBy $.elapsed)[0]&#10;		var meanElapsed = avg(racerResults.*elapsed)&#10;		var count = sizeOf(racerResults)&#10;		---&#10;		overallRacerResults ++ {&#10;			count: count,&#10;			mean: meanElapsed,&#10;			best: bestRace,&#10;			first: firstRace,&#10;			last: lastRace,&#10;			races: racerResults&#10;		}&#10;	}]' doc:name="standings" doc:id="6f2e33ce-48fb-4cd9-a5b8-f0b05a3fc520" variableName="standings" />
		<flow-ref doc:name="updateExchangePortal" doc:id="d81bc732-1e9f-4ec4-9284-cea241f41a00" name="updateExchangePortal" />
		<logger level="INFO" doc:name="INFO" doc:id="32315898-1b81-4597-ad8d-f12af8708130" message="Leaderboards updated" category="race.leaderboards" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="cc661551-6bcb-4595-b80f-5ef42d3997aa" type="APP:NO_RACES_RECORDED">
				<logger level="WARN" doc:name="WARN" doc:id="42f0ed40-ae38-4840-b0c8-2a72a31a7b3e" message="leaderboard update aborted: no races recorded" category="race.leaderboards" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="1376d3c1-ea4a-4a06-80fb-8602f4cc3450" type="MULE:DUPLICATE_MESSAGE">
				<logger level="DEBUG" doc:name="DEBUG" doc:id="10555a01-7be5-464f-a216-af15cf692373" message="Not publishing a second time in the same minute" category="race.leaderboards" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="updateExchangePortal" doc:id="d855cd7b-54ba-44ca-97ba-08bfb922687d" maxConcurrency="1">
		<logger level="DEBUG" doc:name="DEBUG" doc:id="2d7d8c8e-2ac8-4a9f-ae53-e5fb7a9c6d0a" category="race.leaderboards" message="Updating portal for #[sizeOf(vars.standings)] standings"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="0267152f-fed0-4e5c-a3df-e63d90d93269" maxConcurrency="2">
			<route >
				<flow-ref doc:name="updateHallOfFame" doc:id="78ce42c0-8810-4384-8765-afb2e8481a66" name="updateHallOfFame" />
			</route>
			<route >
				<flow-ref doc:name="updateHome" doc:id="81b65a5e-b4c9-410f-90cf-da65356d5ede" name="updateHome" />
			</route>
			<route >
				<flow-ref doc:name="updateResultsFirstToFinish" doc:id="c9c83274-1060-4238-87f5-71df187506d5" name="updateResultsFirstToFinish" />
			</route>
			<route >
				<flow-ref doc:name="updateResultsFastest" doc:id="f810329e-b956-445e-b124-7714e96018ff" name="updateResultsFastest" />
			</route>
			<route >
				<flow-ref doc:name="updateResultsMost" doc:id="f8b57231-06f9-4448-bb4e-fae6e2b06ca6" name="updateResultsMost" />
			</route>
			<route >
				<flow-ref doc:name="updateResultsEasterEgg" doc:id="09232364-0261-4c25-8651-cf5d19c6c41b" name="updateResultsEasterEgg"/>
			</route>
		</scatter-gather>
		<flow-ref doc:name="publishPortalPageDraft" doc:id="c505526f-738d-476e-a874-55e2a6caa45f" name="publishPortalPageDraft" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="4fe2f347-22cd-4c90-81bd-e17c953dee1d" >
				<logger level="ERROR" doc:name="ERROR" doc:id="1bd97682-50ce-40f5-835f-7f47b7adbaaa" message="Error updating portal: #[error.description]" category="race.leaderboards"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getFinishedRaces" doc:id="3e547877-65a8-4cde-8a28-0f726af8d4f5">
		<http:listener doc:name="Listener" doc:id="1b05f70a-d50a-4af9-be28-f9c5399b9a89" config-ref="anypoint-race-api-httpListenerConfig" path="/getRaces"/>
		<redis:range-from-list start="#[0]" stop="#[-1]" doc:name="Get all Keys from racer List" doc:id="c5df8e8c-e480-4590-9df8-55715401b4fd" config-ref="Redis_Redis" key="season2:racers"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="acf92130-8a19-4f69-a3b3-950d3cd3b4e1">
			<redis:get doc:name="Get" doc:id="7aef54f1-99bf-4f0d-a61b-0d9678c297f9" config-ref="Redis_Redis" key="#[payload]"/>
		</parallel-foreach>
		<set-variable value='#[output application/json&#10;import * from dw::core::Strings&#10;var racerValues =&#10;	(payload..payload map (val) -&gt; val replace "\n" with "")&#10;		map (val) -&gt; read(val, "application/json")&#10;---&#10;{(&#10;	racerValues map (racer) -&gt; {&#10;		(racer.racerId): racer&#10;	}&#10;)}]' doc:name="racers" doc:id="69ec1fbd-63ec-43b9-8738-d2e5a8f07b13" variableName="racers" />
		<redis:range-from-list start="#[0]" stop="#[-1]" doc:name="Get all Keys from race List" doc:id="5644dcea-fad0-412c-b985-74c23a5886c1" config-ref="Redis_Redis" key="season2:races" />
		<parallel-foreach doc:name="Parallel For Each" doc:id="e2bbe507-52fd-4543-b28b-02f16f02eac4" >
			<redis:get doc:name="Get" doc:id="9f1089b2-d2de-410e-a54f-e6d085604508" config-ref="Redis_Redis" key="#[payload]" />
			<ee:transform doc:name="Transform Message" doc:id="37e6b2c9-7db0-4e59-bad9-0166b1c0fe01" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
import * from dw::core::Strings
var payloadNoNewline = payload replace "\n" with ""
---
read(payloadNoNewline, "application/json")]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="61f1f5a8-ffa8-4844-8827-39bf55b1b2c0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload..payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="cff86923-1e69-4bc4-ade3-059cbc1d2609" message='Found #[sizeOf(vars.racers)] racers' category="race.leaderboards"/>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="900dbc01-c7d7-4b0b-bb1b-4026bcb9698f" category="race.leaderboards" message="Found #[sizeOf(payload)] races"/>
		<ee:transform doc:name="finished races" doc:id="39713d2b-f82b-4029-9558-7f525f586c26">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var completedRaces = 
	payload filter (race) -> race.finish?

fun getRacer(race) =
	vars.racers[race.racerId]
---
completedRaces map (race) ->
	race ++ {racer: getRacer(race)}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateResultsFirstToFinish" doc:id="e3b4f8a0-573f-4d29-b2fd-4850bf011a61" >
		<logger level="DEBUG" doc:name="DEBUG" doc:id="8eb9bf6f-4fd0-4f72-8498-32825fc2b01e" category="race.leaderboards" message="Updating results page: First to Finish"/>
		<set-payload value="#[dw::pages::FirstToFinishResults::markdown(vars.standings)]" doc:name="FirstToFinishResults" doc:id="aecc8dfa-9e16-4471-95f9-75bd7a7959ab" />
		<set-variable value="${anypoint.portal.pages.results.firstToFinish}" doc:name="pagePath" doc:id="e9196f0f-85ef-4eaa-adc9-537d46228285" variableName="pagePath" />
		<flow-ref doc:name="createPortalPageDraft" doc:id="49565f66-f3f7-45e1-b91e-ac0316c8a4d2" name="createPortalPageDraft" />
	</flow>
	<flow name="updateResultsFastest" doc:id="a960a36d-c2fd-455f-a755-5c89b9c4e336" >
		<logger level="DEBUG" doc:name="DEBUG" doc:id="30f1920b-5575-4195-bee2-4dc232905e35" message="Updating Results page: Fastest" category="race.leaderboards"/>
		<set-payload value="#[dw::pages::FastestResults::markdown(vars.standings)]" doc:name="FastestResults" doc:id="d505b39b-e53b-46ed-881e-b3b3a9964601" />
		<set-variable value="${anypoint.portal.pages.results.fastest}" doc:name="pagePath" doc:id="1769d9eb-6afe-4223-bd95-c2494e772e45" variableName="pagePath"/>
		<flow-ref doc:name="createPortalPageDraft" doc:id="a708e485-9d30-49d5-ae2d-d7229561a914" name="createPortalPageDraft"/>
	</flow>
	<flow name="updateResultsMost" doc:id="f26970ab-2ec6-445c-94ee-9e3c301a01e0" >
		<logger level="DEBUG" doc:name="DEBUG" doc:id="8d1b73e0-b67d-4b7d-b79f-66c63de64d83" message="Updating Results page: Most races" category="race.leaderboards"/>
		<set-payload value="#[dw::pages::MostRacesResults::markdown(vars.standings)]" doc:name="MostRacesResults" doc:id="d58be26d-d77e-4153-9a1c-30ccf23022fa" />
		<set-variable value="${anypoint.portal.pages.results.most}" doc:name="pagePath" doc:id="c7153128-48a8-4fb7-9af1-b0ab440c0876" variableName="pagePath"/>
		<flow-ref doc:name="createPortalPageDraft" doc:id="d64c1d39-7e09-40ed-a031-abd96c5c9deb" name="createPortalPageDraft"/>
	</flow>
	<flow name="updateHallOfFame" doc:id="23d6670e-7681-4620-823f-80a9ce1f5f81" >
		<logger level="DEBUG" doc:name="DEBUG" doc:id="aeb62ec3-242f-4dc7-9ac2-e9100fbef096" message="Updating Hall of Fame page" category="race.leaderboards"/>
		<set-payload value="#[dw::pages::HallOfFame::markdown(vars.standings)]" doc:name="HallOfFame" doc:id="50f546a6-458a-4a10-a3f9-270d366cfaea" />
		<set-variable value="${anypoint.portal.pages.results.halloffame}" doc:name="pagePath" doc:id="a9bce94a-8b78-4607-9826-90e68c12b973" variableName="pagePath"/>
		<flow-ref doc:name="createPortalPageDraft" doc:id="015ac1c6-4770-4d04-bd3c-d41fe711808a" name="createPortalPageDraft"/>
	</flow>
	<flow name="updateHome" doc:id="14daa69b-5927-42f1-956e-77f55c65de4f" >
		<logger level="DEBUG" doc:name="DEBUG" doc:id="b9a5997e-b664-4c0a-92d4-73f7f9fe8548" message="Updating Home page" category="race.leaderboards"/>
		<set-payload value="#[dw::pages::Home::markdown(vars.standings)]" doc:name="Home" doc:id="c742653e-0c90-415b-a13c-b8b08fcbb2a0" />
		<set-variable value="home" doc:name="pagePath" doc:id="e13d3684-c22e-4f90-8d83-ddfe96fd036b" variableName="pagePath"/>
		<flow-ref doc:name="createPortalPageDraft" doc:id="8e70e200-54dd-473f-98a9-1cc169c83b9b" name="createPortalPageDraft"/>
	</flow>
	<flow name="updateResultsEasterEgg" doc:id="067493f0-4f80-4441-a52a-dd9150745e11">
		<logger level="DEBUG" doc:name="DEBUG" doc:id="6909e7d2-b485-4b36-a978-76483fdb7377" message="Updating results page: First to Finish" category="race.leaderboards" />
		<set-payload value="#[dw::pages::EasterEggResults::markdown(vars.standings)]" doc:name="EasterEgg" doc:id="93b0fea4-a210-4e6c-baa3-c64c070b27a4" />
		<set-variable value="${anypoint.portal.pages.results.easterEgg}" doc:name="pagePath" doc:id="24dc117b-5b69-46a4-aa78-604aa5d61a2f" variableName="pagePath" />
		<flow-ref doc:name="createPortalPageDraft" doc:id="e635a2ba-b2a5-4605-aa7b-ba8571ec9187" name="createPortalPageDraft" />
	</flow>
	<flow name="createPortalPageDraft" doc:id="dafd9d2c-f780-4ffc-a9a6-d1553180366c" >
		<http:request method="PUT" doc:name="PUT .../portal/draft/pages/{pageName}" doc:id="124a529d-a1e7-4c83-aa22-790e78696dcd" config-ref="exchangeV2HttpRequestConfig" path="/assets/${anypoint.businessGroup}/${anypoint.portal.assetId}/${anypoint.portal.version}/portal/draft/pages/{pagePath}" responseTimeout="${anypoint.portal.timeout}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/markdown"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"pagePath" : vars.pagePath
}]]]></http:uri-params>
		</http:request>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="70663d9a-2d13-49e1-8199-b37856d5272f" message="Draft updated: #[vars.pagePath]" category="race.leaderboards"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="eba4d322-2c1b-454f-9b1c-dce32dd80e13" type="HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT">
				<logger level="WARN" doc:name="WARN" doc:id="f8b0be03-11a0-4dfb-821f-9755b70e90ec" message="Failed to update #[vars.pagePath]: #[error.description]" category="race.leaderboards"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="publishPortalPageDraft" doc:id="65d05d06-7bb0-4760-818b-e6c8917af728" >
		<until-successful maxRetries="2" doc:name="Until Successful" doc:id="2950c063-a736-493e-ba33-3ca3899e9ad4" millisBetweenRetries="3000">
			<try doc:name="Try" doc:id="150c9973-6bb9-4d9b-ae73-608a5f67ad4d" >
				<http:request method="PATCH" doc:name="PATCH .../portal" doc:id="d051212c-9cf1-49ab-b3eb-55a912e7105f" config-ref="exchangeV2HttpRequestConfig" path="/assets/${anypoint.businessGroup}/${anypoint.portal.assetId}/${anypoint.portal.version}/portal" responseTimeout="55000" />
				<error-handler >
					<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="5f85ff1c-e001-48f7-8ecd-1950a4ede8e0" type="HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:FORBIDDEN, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE">
						<logger level="ERROR" doc:name="ERROR" doc:id="fb685020-2afa-4904-9b94-d6daf421744f" message="Fatal error publishing portal: #[error.description]" category="race.leaderboards"/>
					</on-error-continue>
				</error-handler>
			</try>
		</until-successful>
	</flow>
</mule>
