src/main/mule/leaderboards.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="publishLeaderboards" doc:id="b0d01136-5f96-43f5-a3c1-958c34590ab1">
		<scheduler doc:name="Every 2.5 minutes" doc:id="2b287e8f-00e5-4d78-aa2f-1041aad38402">
			<scheduling-strategy>
				<fixed-frequency frequency="150" timeUnit="SECONDS" startDelay="5" />
			</scheduling-strategy>
		</scheduler>
<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="b8750c7e-949c-4b7c-8868-b47526f8a3f8" idExpression='#[now() as String {format: "yyyyMMddHHmm"}]' storePrefix="publishLeaderboards">
			<os:private-object-store alias="publishLeaderboardsObjectStore" persistent="false" maxEntries="10" entryTtl="2" entryTtlUnit="MINUTES" expirationInterval="5" />
		</idempotent-message-validator>
		<logger level="INFO" doc:name="INFO" doc:id="42b455b9-b793-4d3a-88b2-56b90a4ef0a6" message="Starting leaderboard update" category="race.leaderboards"/>
		<flow-ref doc:name="getFinishedRaces" doc:id="7d39b98f-41ff-4613-8937-36bf4317c64e" name="getFinishedRaces" />
				<validation:is-not-empty-collection doc:name="races are not empty" doc:id="25c6e773-5980-4da8-adbb-8f7c2f0352a6">
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NO_RACES_RECORDED" />
		</validation:is-not-empty-collection>
		<set-variable value='#[output application/java&#10;&#10;var allResults = &#10;	payload groupBy $.racerId&#10;		pluck (racerResults) -&gt; &#10;			racerResults map (result) -&gt;&#10;				result ++ {&#10;					elapsed: ( // units = seconds&#10;						result.finish as DateTime as Number {unit: "milliseconds"}&#10;						- result.start as DateTime as Number {unit: "milliseconds"}&#10;					) / 1000 &#10;				}&#10;---&#10;allResults map (racerResults) -&gt; do {&#10;		var overallRacerResults = racerResults[0]&#10;		var firstRace = (racerResults orderBy $.finish)[0]&#10;		var lastRace = (racerResults orderBy $.finish)[-1]&#10;		var bestRace = (racerResults orderBy $.elapsed)[0]&#10;		var meanElapsed = avg(racerResults.*elapsed)&#10;		var count = sizeOf(racerResults)&#10;		---&#10;		overallRacerResults ++ {&#10;			count: count,&#10;			mean: meanElapsed,&#10;			best: bestRace,&#10;			first: firstRace,&#10;			last: lastRace,&#10;			races: racerResults&#10;		}&#10;	}]' doc:name="standings" doc:id="6f2e33ce-48fb-4cd9-a5b8-f0b05a3fc520" variableName="standings" />
		<flow-ref doc:name="updateExchangePortal" doc:id="d81bc732-1e9f-4ec4-9284-cea241f41a00" name="updateExchangePortal" />
		<logger level="INFO" doc:name="INFO" doc:id="32315898-1b81-4597-ad8d-f12af8708130" message="Leaderboards updated" category="race.leaderboards" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="cc661551-6bcb-4595-b80f-5ef42d3997aa" type="APP:NO_RACES_RECORDED">
				<logger level="WARN" doc:name="WARN" doc:id="42f0ed40-ae38-4840-b0c8-2a72a31a7b3e" message="leaderboard update aborted: no races recorded" category="race.leaderboards" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="1376d3c1-ea4a-4a06-80fb-8602f4cc3450" type="MULE:DUPLICATE_MESSAGE">
				<logger level="DEBUG" doc:name="DEBUG" doc:id="10555a01-7be5-464f-a216-af15cf692373" message="Not publishing a second time in the same minute" category="race.publishLeaderboards" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="updateExchangePortal" doc:id="d855cd7b-54ba-44ca-97ba-08bfb922687d" maxConcurrency="1">
		<scatter-gather doc:name="Scatter-Gather" doc:id="0267152f-fed0-4e5c-a3df-e63d90d93269" maxConcurrency="2">
			<route >
				<flow-ref doc:name="updateHallOfFame" doc:id="78ce42c0-8810-4384-8765-afb2e8481a66" name="updateHallOfFame" />
			</route>
			<route >
				<flow-ref doc:name="updateHome" doc:id="81b65a5e-b4c9-410f-90cf-da65356d5ede" name="updateHome" />
			</route>
			<route >
				<flow-ref doc:name="updateResultsFirstToFinish" doc:id="c9c83274-1060-4238-87f5-71df187506d5" name="updateResultsFirstToFinish" />
			</route>
			<route >
				<flow-ref doc:name="updateResultsFastest" doc:id="f810329e-b956-445e-b124-7714e96018ff" name="updateResultsFastest" />
			</route>
			<route >
				<flow-ref doc:name="updateResultsMost" doc:id="f8b57231-06f9-4448-bb4e-fae6e2b06ca6" name="updateResultsMost" />
			</route>
		</scatter-gather>
		<flow-ref doc:name="publishPortalPageDraft" doc:id="c505526f-738d-476e-a874-55e2a6caa45f" name="publishPortalPageDraft" />
	</flow>
	<flow name="getFinishedRaces" doc:id="3e547877-65a8-4cde-8a28-0f726af8d4f5">
		<os:retrieve-all doc:name="all racers" doc:id="8e35d781-016c-4bd3-8a2c-8936c9df2fbd" objectStore="racerObjectStore" target="racers" />
		<set-variable value='#[output application/json --- vars.racers mapObject (data, id) -&gt; {(id): read(data, "application/json")}]' doc:name="racers" doc:id="69ec1fbd-63ec-43b9-8738-d2e5a8f07b13" variableName="racers" />
		<os:retrieve-all doc:name="all races" doc:id="859db9ca-a807-465d-8010-859fadbfd758" objectStore="raceObjectStore" />
		<ee:transform doc:name="finished races" doc:id="39713d2b-f82b-4029-9558-7f525f586c26">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var races = 
	payload pluck (raceData) -> 
		read(raceData, 'application/json')
var completedRaces = 
	races filter (race) -> race.finish?

fun getRacer(race) =
	vars.racers["racer.$(race.racerId)"]
---
completedRaces map (race) ->
	race ++ {racer: getRacer(race)}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateResultsFirstToFinish" doc:id="e3b4f8a0-573f-4d29-b2fd-4850bf011a61" >
		<set-payload value="#[dw::pages::FirstToFinishResults::markdown(vars.standings)]" doc:name="FirstToFinishResults" doc:id="aecc8dfa-9e16-4471-95f9-75bd7a7959ab" />
		<set-variable value="${anypoint.portal.pages.results.firstToFinish}" doc:name="pagePath" doc:id="e9196f0f-85ef-4eaa-adc9-537d46228285" variableName="pagePath" />
		<flow-ref doc:name="createPortalPageDraft" doc:id="49565f66-f3f7-45e1-b91e-ac0316c8a4d2" name="createPortalPageDraft" />
	</flow>
	<flow name="updateResultsFastest" doc:id="a960a36d-c2fd-455f-a755-5c89b9c4e336" >
		<set-payload value="#[dw::pages::FastestResults::markdown(vars.standings)]" doc:name="FastestResults" doc:id="d505b39b-e53b-46ed-881e-b3b3a9964601" />
		<set-variable value="${anypoint.portal.pages.results.fastest}" doc:name="pagePath" doc:id="1769d9eb-6afe-4223-bd95-c2494e772e45" variableName="pagePath"/>
		<flow-ref doc:name="createPortalPageDraft" doc:id="a708e485-9d30-49d5-ae2d-d7229561a914" name="createPortalPageDraft"/>
	</flow>
	<flow name="updateResultsMost" doc:id="f26970ab-2ec6-445c-94ee-9e3c301a01e0" >
		<set-payload value="#[dw::pages::MostRacesResults::markdown(vars.standings)]" doc:name="MostRacesResults" doc:id="d58be26d-d77e-4153-9a1c-30ccf23022fa" />
		<set-variable value="${anypoint.portal.pages.results.most}" doc:name="pagePath" doc:id="c7153128-48a8-4fb7-9af1-b0ab440c0876" variableName="pagePath"/>
		<flow-ref doc:name="createPortalPageDraft" doc:id="d64c1d39-7e09-40ed-a031-abd96c5c9deb" name="createPortalPageDraft"/>
	</flow>
	<flow name="updateHallOfFame" doc:id="23d6670e-7681-4620-823f-80a9ce1f5f81" >
		<set-payload value="#[dw::pages::HallOfFame::markdown(vars.standings)]" doc:name="HallOfFame" doc:id="50f546a6-458a-4a10-a3f9-270d366cfaea" />
		<set-variable value="${anypoint.portal.pages.results.halloffame}" doc:name="pagePath" doc:id="a9bce94a-8b78-4607-9826-90e68c12b973" variableName="pagePath"/>
		<flow-ref doc:name="createPortalPageDraft" doc:id="015ac1c6-4770-4d04-bd3c-d41fe711808a" name="createPortalPageDraft"/>
	</flow>
	<flow name="updateHome" doc:id="14daa69b-5927-42f1-956e-77f55c65de4f" >
		<set-payload value="#[dw::pages::Home::markdown(vars.standings)]" doc:name="Home" doc:id="c742653e-0c90-415b-a13c-b8b08fcbb2a0" />
		<set-variable value="home" doc:name="pagePath" doc:id="e13d3684-c22e-4f90-8d83-ddfe96fd036b" variableName="pagePath"/>
		<flow-ref doc:name="createPortalPageDraft" doc:id="8e70e200-54dd-473f-98a9-1cc169c83b9b" name="createPortalPageDraft"/>
	</flow>
	<flow name="createPortalPageDraft" doc:id="dafd9d2c-f780-4ffc-a9a6-d1553180366c" >
		<http:request method="PUT" doc:name="PUT .../portal/draft/pages/{pageName}" doc:id="124a529d-a1e7-4c83-aa22-790e78696dcd" config-ref="exchangeV2HttpRequestConfig" path="/assets/${anypoint.businessGroup}/${anypoint.portal.assetId}/${anypoint.portal.version}/portal/draft/pages/{pagePath}" responseTimeout="${anypoint.portal.timeout}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/markdown"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"pagePath" : vars.pagePath
}]]]></http:uri-params>
		</http:request>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="eba4d322-2c1b-454f-9b1c-dce32dd80e13" type="HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT">
				<logger level="WARN" doc:name="WARN" doc:id="f8b0be03-11a0-4dfb-821f-9755b70e90ec" message="Failed to update #[vars.pagePath]: #[error.description]" category="race.leaderboards"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="publishPortalPageDraft" doc:id="65d05d06-7bb0-4760-818b-e6c8917af728" >
		<until-successful maxRetries="2" doc:name="Until Successful" doc:id="2950c063-a736-493e-ba33-3ca3899e9ad4" millisBetweenRetries="3000">
			<try doc:name="Try" doc:id="150c9973-6bb9-4d9b-ae73-608a5f67ad4d" >
				<http:request method="PATCH" doc:name="PATCH .../portal" doc:id="d051212c-9cf1-49ab-b3eb-55a912e7105f" config-ref="exchangeV2HttpRequestConfig" path="/assets/${anypoint.businessGroup}/${anypoint.portal.assetId}/${anypoint.portal.version}/portal" responseTimeout="55000" />
				<error-handler >
					<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="5f85ff1c-e001-48f7-8ecd-1950a4ede8e0" type="HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:FORBIDDEN, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE">
						<logger level="ERROR" doc:name="ERROR" doc:id="fb685020-2afa-4904-9b94-d6daf421744f" message="Fatal error publishing portal: #[error.description]" category="race.leaderboards"/>
					</on-error-continue>
				</error-handler>
			</try>
		</until-successful>
	</flow>
</mule>
