src/main/mule/practice-rest-client.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:race-data-system-api="http://www.mulesoft.org/schema/mule/race-data-system-api"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/race-data-system-api http://www.mulesoft.org/schema/mule/race-data-system-api/current/mule-race-data-system-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="practice_restclient_startTimeTrial" doc:id="2bc007b3-8021-4806-a560-2c1e2140f551" >
		<set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="601b16d3-fa64-4d0d-933b-333778b93640" variableName="racerId"/>
		<ee:transform doc:name="race" doc:id="efc1b65a-1d6a-4001-84e5-9f4713e28f07" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	raceId: uuid(),
	racerId: vars.racerId,
	start: now() as String	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<race-data-system-api:set-race doc:name="raceId" doc:id="6fca0210-1cc7-4fc6-91f8-255fda71a740" config-ref="Race_Data_System_API_Config" race-type="practice_restclient" id="#[payload.raceId]" expiry="${practice.expiry}"/>
		<ee:transform doc:name="response" doc:id="83a27d43-8aad-4c1b-b1e5-24950bb309be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	timeTrialId: payload.raceId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="practice_restclient_lap" doc:id="5b8f69a0-00ab-4c14-9f51-e269f724b33e" />
	<flow name="practice_restclient_finish" doc:id="0175e145-d233-4593-9da7-bb8272ddbf79" />
</mule>
