src/main/mule/race.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:referee-process-api="http://www.mulesoft.org/schema/mule/referee-process-api" xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing"
    xmlns:os="http://www.mulesoft.org/schema/mule/os"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:race-data-system-api="http://www.mulesoft.org/schema/mule/race-data-system-api" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/race-data-system-api http://www.mulesoft.org/schema/mule/race-data-system-api/current/mule-race-data-system-api.xsd
	http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd
http://www.mulesoft.org/schema/mule/referee-process-api http://www.mulesoft.org/schema/mule/referee-process-api/current/mule-referee-process-api.xsd">
    <sub-flow name="restclient_getRaceAndCheckToken">
        <race-data-system-api:get-race doc:name="raceType/raceId" doc:id="lnctsm" config-ref="raceDataSystemApiConfig" race-type="#[vars.raceType]" id="#[vars.raceId]">
			<error-mapping sourceType="RACE-DATA-SYSTEM-API:NOT_FOUND" targetType="APP:NO_SUCH_RACE" />
        </race-data-system-api:get-race>
        <logger level="INFO" doc:name="DEBUG" doc:id="a3bd7243-66b4-4395-983e-4df52b8e5184" message="#[payload]" category="race.getRaceAndCheckToken" />
		<validation:is-null doc:name="Race still active" doc:id="ec0a4b05-1fde-4038-96f0-f74082524dc2" value="#[payload.finish]" message="Race already finished">
			<error-mapping sourceType="VALIDATION:NOT_NULL" targetType="APP:RACE_FINISHED" />
		</validation:is-null>
		<validation:is-true doc:name="Token matches" doc:id="mxfuoc" expression="#[vars.token == payload.token]" message="token does not match">
            <error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:BAD_TOKEN" />
        </validation:is-true>
    </sub-flow>
	<sub-flow name="createSeasonThreeEntry" doc:id="8ea89464-0bab-4719-8cfb-581cbcaf1667">
		<ee:transform doc:name="entry" doc:id="b1b240a8-28d1-451f-b360-378f35957b78">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	racer: vars.racerId,
	endpoint: payload.endpoint,
	submitted: now(),
	level: 1
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value='#["entry.season3.$(vars.racerId)"]' doc:name="entryKey" doc:id="fcaf21ae-77c6-4e13-b68d-100aaa5fca36" variableName="entryKey"/>
		<os:store doc:name="entry" doc:id="e7931715-9302-484f-ac56-788e2b2be9a3" objectStore="raceObjectStore" key="#[vars.entryKey]" failIfPresent="true">
			<error-mapping sourceType="OS:KEY_ALREADY_EXISTS" targetType="APP:ENTRY_EXISTS" />
		</os:store>
		<vm:publish doc:name="official-entry" doc:id="ca98ecc3-7466-4278-b70d-7cf9580e916f" config-ref="VM_Config" queueName="official-entry" />
		<logger level="INFO" doc:name="INFO" doc:id="ce32e666-69d4-4946-ac39-944cd55d0a23" message="Racer #[payload.racer] entered season three" category="race.season3"/>
	</sub-flow>
	<flow name="seasonThreeLevel1" doc:id="f1359ec9-aba6-454e-8abb-203328ac0d72" >
		<vm:listener queueName="official-entry" doc:name="official-entry" doc:id="1ac0aa11-235a-4aa0-9135-85fdfcd660dd" config-ref="VM_Config" transactionalAction="ALWAYS_BEGIN" outputMimeType="application/json"/>
		<set-variable value='#["entry.season3.$(payload.racer)"]' doc:name="entryKey" doc:id="75027f3e-e872-4646-87e5-dac53a0c8e73" variableName="entryKey"/>
		<tracing:set-logging-variable doc:name="entry" doc:id="40ad3246-d5d1-4d98-8429-5c43edf987d3" variableName="entry" value="#[vars.entryKey]" />
		<set-variable value="#[payload]" doc:name="entry" doc:id="0de36d56-79c1-4806-9a06-36602737998e" variableName="entry"/>
		<ee:transform doc:name="one lap rest-api" doc:id="491c7f10-24fa-4caf-8565-630f75db45ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	endpoint: payload.endpoint,
	racerId: payload.racer,
	laps: 1
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<referee-process-api:rest-api-challenge doc:name="Rest API Challenge" doc:id="bac01358-08c3-49c1-b2a9-5899be76a21f" config-ref="refereeProcessApiConfig" mode="official"/>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="8151e8e6-eb9e-45d3-95e5-e847432819fb" message='#["level 1 complete in $(payload.time)s:$(payload.raceId)"]' category="race.season3.level1"/>
		<ee:transform doc:name="entry" doc:id="33ccf227-f122-4f50-a818-86257e78038b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	time1: payload.time,
	level: 2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="entry" doc:id="d733c7af-e9f1-4f64-bc25-a90fe65b8c6a" key="#[vars.entryKey]" objectStore="raceObjectStore"/>
		<vm:publish doc:name="official-level2" doc:id="45f4065e-55e6-4c5c-a7b0-4e78df1be407" config-ref="VM_Config" queueName="official-level2"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="e3c1c603-63cf-42bd-95bd-5cbc17c17c2f" >
				<ee:transform doc:name="add downMessage" doc:id="c995e0be-9fde-4ae3-ab17-9e7ffe3b93d4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	downMessage: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:name="entry" doc:id="f561c4e0-2b96-4571-8a24-3ecbe7ccdddc" key="#[vars.entryKey]" objectStore="raceObjectStore"/>
				<logger level="WARN" doc:name="WARN" doc:id="33aced86-cb7f-45fb-a6d4-feeb70c56ae3" message="#[error.description]" category="race.season3.level1"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="seasonThreeLevel2" doc:id="fcf74c3c-bb61-4887-81d4-8a8ddc61f0d5" >
		<vm:listener queueName="official-level2" doc:name="official-level2" doc:id="c143545a-87fb-4d3d-877a-ab3c76643201" config-ref="VM_Config" outputMimeType="application/json" transactionalAction="ALWAYS_BEGIN"/>
		<set-variable value='#["entry.season3.$(payload.racer)"]' doc:name="entryKey" doc:id="3a5ef504-5b04-487f-8884-5836c8212b1a" variableName="entryKey" />
		<tracing:set-logging-variable doc:name="entry" doc:id="422c19e6-6119-4b90-9590-9f66a7c15bf8" variableName="entry" value="#[vars.entryKey]" />
		<set-variable value="#[payload]" doc:name="entry" doc:id="042ac6bf-f7f9-4306-b07b-92f6f6b57f4f" variableName="entry" />
		<ee:transform doc:name="100 lap rest-api" doc:id="854a596e-508e-43b2-8831-60296867ca16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	endpoint: payload.endpoint,
	racerId: payload.racer,
	laps: 100
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<referee-process-api:rest-api-challenge doc:name="Rest API Challenge" doc:id="7ddfc1e5-7372-442d-a312-1bf7b3fa64be" config-ref="refereeProcessApiConfig" mode="official" />
		<logger level="DEBUG" doc:name="DEBUG" doc:id="62ca2486-5aab-4f58-9329-a09c8336924e" message='#["level 1 complete in $(payload.time)s:$(payload.raceId)"]' category="race.season3.level1" />
		<ee:transform doc:name="entry" doc:id="397a69e1-a98e-46d3-ba08-de79bc6fdec5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	time2: payload.time,
	level: 3
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="entry" doc:id="ec5ec8fd-3de9-4e99-8599-f9fe08349150" key="#[vars.entryKey]" objectStore="raceObjectStore" />
		<vm:publish queueName="official-level3" doc:name="official-level3" doc:id="74d6d3a8-9e6b-4886-9fbf-3174c18e02c7" config-ref="VM_Config" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="dea535bf-f85c-4419-9e00-cf59819eadec" >
				<ee:transform doc:name="add downMessage" doc:id="14ebee53-25dc-4db3-867f-b4ffbbeabdd6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	downMessage: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:name="entry" doc:id="24ca5027-0dae-4959-a61e-635274447076" key="#[vars.entryKey]" objectStore="raceObjectStore"/>
				<logger level="WARN" doc:name="WARN" doc:id="dcabbeb7-446d-46e0-982c-c63ef3799af0" message="#[error.description]" category="race.season3.level2" />
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="seasonThreePhase3" doc:id="f5381fea-ce99-4f99-9202-e244e3217772" >
		<logger level="INFO" doc:name="1brc 1000" doc:id="0de30370-25c3-4ae5-9f90-2aefb8e60551" />
		<logger level="INFO" doc:name="1brc 1000000" doc:id="697c23e5-26f6-4567-892c-5525f5905b99" />
		<logger level="INFO" doc:name="1brc" doc:id="a74a11e5-9826-4f55-8402-a8d6ad9cb72f" />
	</sub-flow>
</mule>