src/main/mule/race.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:referee-process-api="http://www.mulesoft.org/schema/mule/referee-process-api" xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing"
    xmlns:os="http://www.mulesoft.org/schema/mule/os"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:race-data-system-api="http://www.mulesoft.org/schema/mule/race-data-system-api" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/race-data-system-api http://www.mulesoft.org/schema/mule/race-data-system-api/current/mule-race-data-system-api.xsd
	http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd
http://www.mulesoft.org/schema/mule/referee-process-api http://www.mulesoft.org/schema/mule/referee-process-api/current/mule-referee-process-api.xsd">
    <sub-flow name="restclient_getRaceAndCheckToken">
        <race-data-system-api:get-race doc:name="raceType/raceId" doc:id="lnctsm" config-ref="raceDataSystemApiConfig" race-type="#[vars.raceType]" id="#[vars.raceId]">
			<error-mapping sourceType="RACE-DATA-SYSTEM-API:NOT_FOUND" targetType="APP:NO_SUCH_RACE" />
        </race-data-system-api:get-race>
        <logger level="INFO" doc:name="DEBUG" doc:id="a3bd7243-66b4-4395-983e-4df52b8e5184" message="#[payload]" category="race.getRaceAndCheckToken" />
		<validation:is-null doc:name="Race still active" doc:id="ec0a4b05-1fde-4038-96f0-f74082524dc2" value="#[payload.finish]" message="Race already finished">
			<error-mapping sourceType="VALIDATION:NOT_NULL" targetType="APP:RACE_FINISHED" />
		</validation:is-null>
		<validation:is-true doc:name="Token matches" doc:id="mxfuoc" expression="#[vars.token == payload.token]" message="token does not match">
            <error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:BAD_TOKEN" />
        </validation:is-true>
    </sub-flow>
	<sub-flow name="createSeasonThreeEntry" doc:id="8ea89464-0bab-4719-8cfb-581cbcaf1667">
		<logger level="DEBUG" doc:name="DEBUG" doc:id="19b8aeb7-ad5e-4574-b74d-b3fbdb9fced1" message="#[payload]" category="race.season3"/>
		<ee:transform doc:name="entry" doc:id="b1b240a8-28d1-451f-b360-378f35957b78">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	racer: vars.racerId,
	endpoint: payload.endpoint,
	submitted: now(),
	level: 1
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value='#["entry.season3.$(vars.racerId)"]' doc:name="entryKey" doc:id="fcaf21ae-77c6-4e13-b68d-100aaa5fca36" variableName="entryKey"/>
		<os:store doc:name="entry" doc:id="e7931715-9302-484f-ac56-788e2b2be9a3" objectStore="raceObjectStore" key="#[vars.entryKey]" failIfPresent="true">
			<error-mapping sourceType="OS:KEY_ALREADY_EXISTS" targetType="APP:ENTRY_EXISTS" />
		</os:store>
		<vm:publish doc:name="official-entry" doc:id="ca98ecc3-7466-4278-b70d-7cf9580e916f" config-ref="VM_Config" queueName="official-entry" />
		<logger level="INFO" doc:name="INFO" doc:id="ce32e666-69d4-4946-ac39-944cd55d0a23" message="Racer #[payload.racer] entered season three" category="race.season3"/>
	</sub-flow>
	<sub-flow name="clearSeasonThreeEntry" doc:id="114b1ea6-295a-43b5-b8c6-521f53f39198" >
		<set-variable value='#["entry.season3.$(vars.racerId)"]' doc:name="entryKey" doc:id="eb2bb382-ff30-4d8f-b9bf-7a06b5de8823" variableName="entryKey" />
		<os:remove doc:name="entry" doc:id="10dd9247-0f58-40a5-8baf-64054c272a8c" key="#[vars.entryKey]" objectStore="raceObjectStore">
			<error-mapping sourceType="OS:KEY_NOT_FOUND" targetType="APP:ENTRY_MISSING" />
		</os:remove>
		<logger level="INFO" doc:name="INFO" doc:id="0bdc0d47-eea1-4cc2-8bef-13bf8ace14e5" message="Cleared entry #[vars.entryKey]" category="race.season3"/>
	</sub-flow>
	<flow name="seasonThreeLevel1" doc:id="f1359ec9-aba6-454e-8abb-203328ac0d72" >
		<vm:listener queueName="official-entry" doc:name="official-entry" doc:id="1ac0aa11-235a-4aa0-9135-85fdfcd660dd" config-ref="VM_Config" outputMimeType="application/json"/>
		<set-variable value='#["entry.season3.$(payload.racer)"]' doc:name="entryKey" doc:id="75027f3e-e872-4646-87e5-dac53a0c8e73" variableName="entryKey"/>
		<tracing:set-logging-variable doc:name="entry" doc:id="40ad3246-d5d1-4d98-8429-5c43edf987d3" variableName="entry" value="#[vars.entryKey]" />
		<set-variable value="#[payload]" doc:name="entry" doc:id="0de36d56-79c1-4806-9a06-36602737998e" variableName="entry"/>
		<ee:transform doc:name="one lap rest-api" doc:id="491c7f10-24fa-4caf-8565-630f75db45ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	endpoint: payload.endpoint,
	racerId: payload.racer,
	laps: 1
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<referee-process-api:rest-api-challenge doc:name="Rest API Challenge" doc:id="bac01358-08c3-49c1-b2a9-5899be76a21f" config-ref="refereeProcessApiConfig" mode="official"/>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="8151e8e6-eb9e-45d3-95e5-e847432819fb" message='#["$(payload.racerId) completed level 1 in $(payload.time)s:$(payload.raceId)"]' category="race.season3.level1"/>
		<ee:transform doc:name="entry" doc:id="33ccf227-f122-4f50-a818-86257e78038b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	time1: payload.time,
	level: 2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="entry" doc:id="d733c7af-e9f1-4f64-bc25-a90fe65b8c6a" key="#[vars.entryKey]" objectStore="raceObjectStore"/>
		<vm:publish doc:name="official-level2" doc:id="45f4065e-55e6-4c5c-a7b0-4e78df1be407" config-ref="VM_Config" queueName="official-level2"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="e3c1c603-63cf-42bd-95bd-5cbc17c17c2f" >
				<ee:transform doc:name="add downMessage" doc:id="c995e0be-9fde-4ae3-ab17-9e7ffe3b93d4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	downMessage: error.errorMessage.payload.detail default "unknown error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:name="entry" doc:id="f561c4e0-2b96-4571-8a24-3ecbe7ccdddc" key="#[vars.entryKey]" objectStore="raceObjectStore"/>
				<logger level="WARN" doc:name="WARN" doc:id="33aced86-cb7f-45fb-a6d4-feeb70c56ae3" message="#[error.description]" category="race.season3.level1"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="seasonThreeLevel2" doc:id="fcf74c3c-bb61-4887-81d4-8a8ddc61f0d5" >
		<vm:listener queueName="official-level2" doc:name="official-level2" doc:id="c143545a-87fb-4d3d-877a-ab3c76643201" config-ref="VM_Config" outputMimeType="application/json"/>
		<set-variable value='#["entry.season3.$(payload.racer)"]' doc:name="entryKey" doc:id="3a5ef504-5b04-487f-8884-5836c8212b1a" variableName="entryKey" />
		<tracing:set-logging-variable doc:name="entry" doc:id="422c19e6-6119-4b90-9590-9f66a7c15bf8" variableName="entry" value="#[vars.entryKey]" />
		<set-variable value="#[payload]" doc:name="entry" doc:id="042ac6bf-f7f9-4306-b07b-92f6f6b57f4f" variableName="entry" />
		<ee:transform doc:name="100 lap rest-api" doc:id="854a596e-508e-43b2-8831-60296867ca16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	endpoint: payload.endpoint,
	racerId: payload.racer,
	laps: 100
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<referee-process-api:rest-api-challenge doc:name="Rest API Challenge" doc:id="7ddfc1e5-7372-442d-a312-1bf7b3fa64be" config-ref="refereeProcessApiConfig" mode="official" />
		<logger level="DEBUG" doc:name="DEBUG" doc:id="62ca2486-5aab-4f58-9329-a09c8336924e" message='#["$(payload.racerId) completed level 2 in $(payload.time)s:$(payload.raceId)"]' category="race.season3.level2" />
		<ee:transform doc:name="entry" doc:id="397a69e1-a98e-46d3-ba08-de79bc6fdec5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	time2: payload.time,
	level: 3
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="entry" doc:id="ec5ec8fd-3de9-4e99-8599-f9fe08349150" key="#[vars.entryKey]" objectStore="raceObjectStore" />
		<vm:publish queueName="official-level3" doc:name="official-level3" doc:id="74d6d3a8-9e6b-4886-9fbf-3174c18e02c7" config-ref="VM_Config" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="dea535bf-f85c-4419-9e00-cf59819eadec" >
				<ee:transform doc:name="add downMessage" doc:id="14ebee53-25dc-4db3-867f-b4ffbbeabdd6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	downMessage: error.errorMessage.payload.detail default "unknown error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:name="entry" doc:id="24ca5027-0dae-4959-a61e-635274447076" key="#[vars.entryKey]" objectStore="raceObjectStore"/>
				<logger level="WARN" doc:name="WARN" doc:id="dcabbeb7-446d-46e0-982c-c63ef3799af0" message="#[error.description]" category="race.season3.level2" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="seasonThreeLevel3" doc:id="3ff6cff4-4e20-4fe5-b410-c326f38f0cd2" >
		<vm:listener doc:name="official-level3" doc:id="cb1cc667-2841-45e5-b25d-45d1cc242e0e" config-ref="VM_Config" queueName="official-level3" outputMimeType="application/json"/>
		<set-variable value='#["entry.season3.$(payload.racer)"]' doc:name="entryKey" doc:id="28bc5b45-2971-4d95-99e7-5b86511ceee4" variableName="entryKey" />
		<tracing:set-logging-variable doc:name="entry" doc:id="848f1088-2f13-42c7-a52c-4b801a3cc0ae" variableName="entry" value="#[vars.entryKey]" />
		<set-variable value="#[payload]" doc:name="entry" doc:id="318ad55c-bd59-4073-8bb3-1a860f87a990" variableName="entry" />
		<ee:transform doc:name="1brc (1000)" doc:id="38f04474-b378-434c-98fe-c4dd841df927" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	endpoint: payload.endpoint,
	racerId: payload.racer,
	count: 1000
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<referee-process-api:billion-row-challenge doc:name="Billion Row Challenge" doc:id="8e399bca-502d-4711-a7fa-4862bfcf52c5" config-ref="refereeProcessApiConfig" mode="official"/>
		<logger level="DEBUG" doc:name="DEBUG" doc:id="b2a2547a-461a-4af9-a3a4-857a122d862b" message='#["$(payload.racerId) completed level 3 in $(payload.time)s:$(payload.raceId)"]' category="race.season3.level3" />
		<ee:transform doc:name="entry" doc:id="07d335a9-bf0b-44f3-a0ad-7f00ef24fa78" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	time3: payload.time,
	level: 4
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="entry" doc:id="684c84df-4002-43e8-bdc6-6a0f6768a35b" key="#[vars.entryKey]" objectStore="raceObjectStore" />
		<vm:publish queueName="official-level4" doc:name="official-level4" doc:id="ad566247-2eac-4dd6-a493-99d799203732" config-ref="VM_Config" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="56a2a37b-6481-4287-b385-158b92a4d348" >
				<ee:transform doc:name="add downMessage" doc:id="421233d5-5228-4f85-b2ca-4080798f0140" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	downMessage: error.errorMessage.payload.detail default "unknown error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:name="entry" doc:id="3812fb4f-dee2-4c0f-a9d0-c758f8fd41f6" key="#[vars.entryKey]" objectStore="raceObjectStore" />
				<logger level="WARN" doc:name="WARN" doc:id="3ce0be8d-98c7-4849-b61d-918c3b408281" message="#[error.description]" category="race.season3.level3" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="seasonThreeLevel4" doc:id="21bdc68b-aca3-45f8-8777-0582b4aacc39" >
		<vm:listener doc:name="official-level4" doc:id="4f97ebf0-8acb-4894-8396-1eb5271a2a5e" config-ref="VM_Config" queueName="official-level4" outputMimeType="application/json"/>
		<set-variable value='#["entry.season3.$(payload.racer)"]' doc:name="entryKey" doc:id="2f0df4d7-a3c6-4145-a223-cd46257bf0e4" variableName="entryKey" />
		<tracing:set-logging-variable doc:name="entry" doc:id="3218b5da-b672-427c-9b56-56fcda15571b" variableName="entry" value="#[vars.entryKey]" />
		<set-variable value="#[payload]" doc:name="entry" doc:id="098ab252-6baa-415a-93c5-5c7cf4d7e21e" variableName="entry" />
		<ee:transform doc:name="1brc (1000000)" doc:id="3099bf16-5222-4535-83dc-e3d56ce8858d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	endpoint: payload.endpoint,
	racerId: payload.racer,
	count: 1000000
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<referee-process-api:billion-row-challenge doc:name="Billion Row Challenge" doc:id="aa3b4aac-7dbb-4b5b-8589-5dae53b66f9e" config-ref="refereeProcessApiConfig" mode="official" />
		<logger level="DEBUG" doc:name="DEBUG" doc:id="c2ab46b8-fa3f-4455-bdc5-1fb4baa29d6d" message='#["$(payload.racerId) completed level 4 in $(payload.time)s:$(payload.raceId)"]' category="race.season3.level4" />
		<ee:transform doc:name="entry" doc:id="0dcd84dd-b21e-4f0c-9d23-08c0c4298e68" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	time4: payload.time,
	level: 5
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="entry" doc:id="82ba82b2-d102-4d3d-b2a0-62539cdbc0cd" key="#[vars.entryKey]" objectStore="raceObjectStore" />
		<vm:publish queueName="official-level5" doc:name="official-level5" doc:id="6476fe95-1840-4544-9b0a-93c4f6a84686" config-ref="VM_Config" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="1db1372a-5cb3-422d-a20d-ed0411863ba1" >
				<ee:transform doc:name="add downMessage" doc:id="ca27059b-251b-4ebf-a511-e0130f9fddbc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	downMessage: error.errorMessage.payload.detail default "unknown error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:name="entry" doc:id="6846f762-f30b-4fb3-85a1-e8a195ebd2ca" key="#[vars.entryKey]" objectStore="raceObjectStore" />
				<logger level="WARN" doc:name="WARN" doc:id="fe62623a-ef33-4d0b-825b-43fb544123e7" message="#[error.description]" category="race.season3.level4" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="seasonThreeLevel5" doc:id="e587ac46-c2c3-4692-a415-1b744d9fc85f" >
		<vm:listener doc:name="official-level5" doc:id="0f0d2149-0dd9-44d0-badb-670a9b9ae489" config-ref="VM_Config" queueName="official-level5" outputMimeType="application/json"/>
		<set-variable value='#["entry.season3.$(payload.racer)"]' doc:name="entryKey" doc:id="022f8c54-dc56-44ed-9645-a5eab5d546cf" variableName="entryKey" />
		<tracing:set-logging-variable doc:name="entry" doc:id="a5f3208b-04ca-4ac8-974d-4853398ed645" variableName="entry" value="#[vars.entryKey]" />
		<set-variable value="#[payload]" doc:name="entry" doc:id="b179295a-576c-476e-8233-56a27e7afa9a" variableName="entry" />
		<ee:transform doc:name="1brc" doc:id="24f1f676-910d-4f95-8e3d-523201a7c527" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	endpoint: payload.endpoint,
	racerId: payload.racer,
	count: 1000000000
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<referee-process-api:billion-row-challenge doc:name="Billion Row Challenge" doc:id="1bbae59f-6d19-46c0-8a93-e2ef2c02073f" config-ref="refereeProcessApiConfig" mode="official" />
		<logger level="DEBUG" doc:name="DEBUG" doc:id="3461af61-1e6b-4a5c-a306-9e83bcf2e8dc" message='#["$(payload.racerId) completed level 5 in $(payload.time)s:$(payload.raceId)"]' category="race.season3.level5" />
		<ee:transform doc:name="entry" doc:id="be1925e1-c381-4c44-98b5-1c5b152c884c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	time5: payload.time,
	level: 6
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="entry" doc:id="2c7513b9-9aac-4e9b-86a8-44b91965c85b" key="#[vars.entryKey]" objectStore="raceObjectStore" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="51930a99-9916-46e8-a26f-51b4646edd10" >
				<ee:transform doc:name="add downMessage" doc:id="d478588f-9a3f-4c6e-83da-d52b189cdb5d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Objects
output application/json
---
vars.entry mergeWith {
	downMessage: error.errorMessage.payload.detail default "unknown error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:name="entry" doc:id="1f4683e0-1279-4c4f-bc07-4d700c8ca3bd" key="#[vars.entryKey]" objectStore="raceObjectStore" />
				<logger level="WARN" doc:name="WARN" doc:id="d8abb142-63a5-4a52-a7ca-3e1d8dc780b5" message="#[error.description]" category="race.season3.level5" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>