src/main/mule/racer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:race-data-system-api="http://www.mulesoft.org/schema/mule/race-data-system-api" xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
http://www.mulesoft.org/schema/mule/race-data-system-api http://www.mulesoft.org/schema/mule/race-data-system-api/current/mule-race-data-system-api.xsd">
	<ee:object-store-caching-strategy name="racerIdCachingStrategy" doc:name="Caching Strategy" doc:id="8b2f7bb7-e055-434b-929c-bb931b876ad4" keyGenerationExpression="#[attributes.headers.client_id]" >
		<os:private-object-store alias="registerCacheObjectStore" entryTtl="30" entryTtlUnit="DAYS"/>
	</ee:object-store-caching-strategy>
	<flow name="registerRacer" doc:id="7edfeca7-3d19-4a8a-94cb-b4ba51dfb9be" >
		<validation:is-not-null doc:name="Is not null" doc:id="3f447caa-4739-4fc3-83c3-00a6f64aa268" value="#[vars.clientId]">
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:CLIENT_ID_MISSING" />
		</validation:is-not-null>
		<race-data-system-api:search-racers doc:name="by client id" doc:id="e93480f5-dc78-4c50-b091-eb6d1affaf9c" config-ref="raceDataSystemApiConfig" client-id="#[vars.clientId]" target="searchResult"/>
		<choice doc:name="Choice" doc:id="fd8a4200-defe-4368-bc66-3ad97c955fc1" >
			<when expression="#[isEmpty(vars.searchResult)]">
				<ee:transform doc:name="racer" doc:id="cb6e3fad-0340-43fc-8d2c-d00cf78a8ef1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	displayName: payload.displayName,
	email: payload.email,
	racerId: uuid(),
	clientId: vars.clientId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<race-data-system-api:create-racer doc:name="Create racer" doc:id="fde57ecf-ecf5-4b4c-8064-a0a33b1cf6b2" config-ref="raceDataSystemApiConfig"/>
			</when>
			<otherwise >
				<set-variable value="#[vars.searchResult[0].racerId]" doc:name="racerId" doc:id="ee68f7bf-12bf-462d-a8b3-ac36c84a4f28" variableName="racerId"/>
				<ee:transform doc:name="racer" doc:id="6aaf3486-37f4-477b-bf0f-95a285c21259">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	displayName: payload.displayName,
	email: payload.email,
	racerId: vars.racerId,
	clientId: vars.clientId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<race-data-system-api:set-racer doc:name="Set Racer" doc:id="9b9b467c-47de-417f-aabe-f933c4c9de8f" config-ref="raceDataSystemApiConfig" id="#[vars.racerId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="INFO" doc:id="60528fa0-8696-44a6-b973-5cdde3b4586c" message="Registered racer #[payload.racerId] for client #[payload.clientId]: #[payload.email]" category="race.register"/>
	</flow>
	<sub-flow name="checkRacerClientId" doc:id="835aaecc-5ab2-44a0-99b8-9a7b562bd50e" >
		<race-data-system-api:search-racers doc:name="Search Racers" doc:id="b5869bc6-bd4b-4764-90c3-2a82d29452bf" config-ref="raceDataSystemApiConfig" client-id="#[vars.clientId]" target="authenticatedRacerResults"/>
		<validation:is-not-empty-collection doc:name="racer results" doc:id="a20e6756-4828-4278-905a-b8981c024460" values="#[vars.authenticatedRacerResults]" message='#[output text/plain --- "No racer found for clientId $(vars.clientId)"]'>
			<error-mapping targetType="APP:RACER_NOT_FOUND" />
		</validation:is-not-empty-collection>
		<validation:is-true doc:name="racerId matches database" doc:id="f3f59f4e-a56d-429d-bb15-1a122f51216c" expression="#[vars.authenticatedRacerResults[0].racerId == vars.racerId]" message='#[output text/plain --- "Client not allowed for racer $(vars.racerId)"]'>
			<error-mapping targetType="APP:FORBIDDEN_RACER" />
		</validation:is-true>
	</sub-flow>
</mule>
