src/main/mule/season2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
	<flow name="startSeason2Race" doc:id="dc7bcc7a-45af-49bd-a26b-41df6e9665b0">
		<set-variable value="#[attributes.uriParams.racerId]" doc:name="racerId" doc:id="5e5f573e-7b9b-4b12-8024-0e3440c8b35a" variableName="racerId" />
		<set-variable value="#[attributes.requestPath]" doc:name="requestPath" doc:id="9f281433-200a-4aef-8bdc-06639f9cf7c5" variableName="requestPath"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	racerId: vars.racerId,&#10;	raceId: uuid(),&#10;	token: uuid(),&#10;	start: now() as String,&#10;	url: payload.racerUrl&#10;}]" doc:name="race" doc:id="bad339de-8cd5-406c-b20a-19533bf97cea" variableName="race"/>
		<set-variable value="#['race:' ++ vars.race.raceId]" doc:name="raceKey" doc:id="a0c17778-9380-4e67-965f-626c39cca275" variableName="raceKey" />
		<redis:set doc:name="raceKey" doc:id="427c3042-8cc5-4c2a-b58c-a7237909acac" config-ref="Redis_Redis" key="#[vars.raceKey]" expire="${race.expiry}">
			<redis:value ><![CDATA[#[output application/java --- write(vars.race, "application/json")]]]></redis:value>
		</redis:set>
		<flow-ref doc:name="notifySeason2RaceToken" doc:id="cba894f7-84e6-4f14-b899-12e48610ac07" name="notifySeason2RaceToken" target="notifyResponse" />
		<ee:transform doc:name="response" doc:id="fd288de6-1491-43f7-9a28-948addaba939" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	raceId: vars.race.raceId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[output application/java&#10;var parentDir = vars.requestPath splitBy &quot;/&quot; then $[0 to -2] then $ joinBy &quot;/&quot;&#10;---&#10;{ &#10;	Location: parentDir ++ '/races/$(vars.race.raceId)/finish'&#10;}]" doc:name="outboundHeaders" doc:id="d20efbea-8c0e-4af6-bd04-713745e7b422" variableName="outboundHeaders"/>
		<logger level="INFO" doc:name="INFO" doc:id="d83ea72f-c5e1-4ca5-89e4-9bcec9adc626" message="racer #[vars.racerId] started a new race #[vars.race.raceId]" category="race.start"/>
	</flow>
	<flow name="finishSeason2Lap" doc:id="c4b3c0a4-02e7-4b9e-95e7-52382664b61f" >
		<set-variable value="#[now()]" doc:name="lapStart" doc:id="b984d76f-64c4-46b6-a709-4fc847f633ce" variableName="lapStart"/>
		<set-variable value="#[payload.token]" doc:name="requestToken" doc:id="e38192b6-41b2-4cba-9279-24305d41f369" variableName="requestToken" />
		<flow-ref doc:name="lookupRaceAndRacer" doc:id="545dd1e4-1604-4880-a23c-9782a9410671" name="lookupRaceAndRacer"/>
		<validation:is-true doc:name="check token" doc:id="c040b922-7ce4-4adc-a3ff-2cdd3f0472b2" expression="#[vars.requestToken == vars.race.token]" message="#['Race token is not valid: ' ++ vars.requestToken]" >
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_RACE_TOKEN" />
		</validation:is-true>
		<validation:is-null doc:name="Validate race still in progress" doc:id="76ee89a8-c8b7-477a-bee5-c978981aa442" value="#[vars.race.finish]">
			<error-mapping sourceType="VALIDATION:NOT_NULL" targetType="APP:LAP_FORBIDDEN" />
		</validation:is-null>
		<set-variable value='#[import mergeWith from dw::core::Objects&#10;output application/json&#10;var lastLapStart = vars.race.lapStart default vars.race.start&#10;var elapsed = (vars.lapStart - lastLapStart) as Number {unit: "milliseconds"} / 1000&#10;--- &#10;vars.race mergeWith {&#10;	laps: (vars.race.laps default 0) + 1,&#10;	lapStart: vars.lapStart,&#10;	lastLapElapsed: elapsed&#10;}]' doc:name="race + new lap" doc:id="9c2168b8-ba46-47c4-87fa-d2cb02af1809" variableName="race"/>
		<set-variable value="#[vars.race update { case .token -&gt; uuid() }]" doc:name="rotate race token" doc:id="1339dc13-5796-402e-9809-6d8cddbc56d0" variableName="race"/>
		<redis:set doc:name="race:{raceId}" doc:id="4214e432-9d34-40a6-a4de-26fb69d6a62e" config-ref="Redis_Redis" key='#["race:" ++ vars.raceId]' expire="${race.expiry}">
			<redis:value ><![CDATA[#[output application/java --- write(vars.race, "application/json")]]]></redis:value>
		</redis:set>
		<flow-ref doc:name="notifyRaceToken" doc:id="ae20aae3-601b-4298-b292-d82a9bb68d09" name="notifySeason2RaceToken" target="notifyResponse"/>
		<ee:transform doc:name="response" doc:id="e90f45d1-546b-4014-900f-083b4b588a18" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	laps: vars.race.laps,
	lapSeconds: vars.race.lastLapElapsed
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO" doc:id="e92e7065-e022-42c2-91e5-10df19e42f06" message="racer #[vars.racerId] finished a lap in race #[vars.raceId]" category="race.lap"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="e83b3199-1c95-462d-99b0-c6529adac66f" />
		</error-handler>
	</flow>
	<flow name="finishSeason2Race" doc:id="0e1d576a-2ffc-4f69-ad7f-9488d1d41f54">
		<set-variable value="#[now()]" doc:name="finish" doc:id="fbd68bf2-d076-4c4a-bb9f-636b1061a4b9" variableName="finish" />
		<set-variable value="#[payload]" doc:name="requestToken" doc:id="e0f66a94-1089-4f02-a4b6-3d153ca0f77b" variableName="requestToken" />
		<flow-ref doc:name="lookupRaceAndRacer" doc:id="ab0829db-eff5-4f2e-a5fc-931c25568dc9" name="lookupRaceAndRacer" />
		<validation:is-null doc:name="Is race already finished?" doc:id="1120a9e9-dcfc-434a-bf76-af8b40e0cf90" value="#[vars.race.finish]" message="This race has already ended.">
			<error-mapping sourceType="VALIDATION:NOT_NULL" targetType="APP:RACECOMPLETED" />
		</validation:is-null>
		<validation:is-true doc:name="check token" doc:id="53944ceb-ff9b-4121-a151-b1586459b453" expression="#[vars.requestToken == vars.race.token]" message="#['Race token is not valid: ' ++ vars.requestToken]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_RACE_TOKEN" />
		</validation:is-true>
		<set-variable value="#[output application/json --- vars.race ++ {finish: vars.finish}]" doc:name="race + finish time" doc:id="6a90ee47-c4c9-48ba-a39c-e3086b4aac48" variableName="race" />
		<redis:set doc:name="race:{raceId}" doc:id="2d883448-cd02-49ea-bf57-dfff679c2900" config-ref="Redis_Redis" key='#["race:" ++ vars.raceId]' expire="${race.expiry}">
			<redis:value ><![CDATA[#[output application/java --- write(vars.race, "application/json")]]]></redis:value>
		</redis:set>
		<ee:transform doc:name="response" doc:id="87900b91-e51f-481e-839b-2489a1d923fe">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var time = vars.race.finish - vars.race.start
---
{
	name: vars.racer.displayName,
	finished: vars.race.finish,
	secondsToComplete: time as Number {unit: "milliseconds"} / 1000,
	(laps: vars.race.laps) if vars.race.laps?
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO" doc:id="9973a855-807e-4cb5-90c9-f0bf432755e9" message="racer #[vars.racerId] finished race #[vars.raceId]" category="race.finish"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="8ce2099f-3883-4e1b-9175-f6c39517862f" />
		</error-handler>
	</flow>
	<flow name="notifySeason2RaceToken" doc:id="9e8f7f7c-8ed4-45e8-a554-90663d2b00d5">
		<http:request method="POST" doc:name="POST /race/{raceId}/token" doc:id="665a113f-7730-46cc-a1c2-bff69ed44c45" config-ref="racerHttpRequestConfig" url='#["$(vars.race.url)/race/$(vars.race.raceId)/token"]'>
			<error-mapping sourceType="HTTP:CONNECTIVITY" targetType="APP:INVALID_URL" />
			<http:body><![CDATA[#[output text/plain --- vars.race.token]]]></http:body>
		</http:request>
		<validation:is-true doc:name="validate Racer API mime type" doc:id="79a072c8-5345-450f-b0ae-55ac98e9d187" expression="#[payload.^mimeType startsWith 'application/json']" message='#["Unexpected Racer API response Content-Type $(payload.^mimeType)"]'>
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:CALLBACK_UNEXPECTED_MEDIA_TYPE" />
		</validation:is-true>
		<validation:is-true doc:name="validate racer ID in API response" doc:id="96b400e3-1ee6-4a04-a640-458b26b817ff" expression='#[(payload.racerId default "undefined")  == vars.race.racerId]' message="invalid or missing Racer ID in Racer API Response">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_RACER_ID" />
		</validation:is-true>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="19f4ab1c-6c49-4adb-85c1-f579d0230f7c" />
		</error-handler>
	</flow>

</mule>
